
.arrival_page .col-66 {
	float: left;
	width: 61.665%;
	padding: 0 5% 0 0;
}

.arrival_page .col-50 input[type="text"] {
	padding: 13px 6%;
  	width: 92%;
}

.arrival_page .col-50:first-child input[type="text"] {  width: 80%; }

.arrival_page .inside {
	background: #f7f7f7;
}

.arrival_infos {
	margin: 55px 60px;
}

.arrival_infos .row{
	color: #555;
}

.arrival_page h2 {
    font-weight: 500;
    font-size: 24px;
    font-style: italic;
    margin: 55px 0 40px 0;
}

.arrival_page h2 span {
	color: #9ab43d;
}
.arrival_infos > p {
	font-size: 18px;
	margin-bottom: 80px;
}

.arrival_infos p:first-child {
	margin-bottom: 35px;
}

.arrival_infos form > div {
	margin: 0 0 24px;
}

.arrival_infos input[type="text"],
.arrival_infos input[type="email"], 
.arrival_infos textarea {
	width: 96%;
	padding: 13px 2%;
	margin-top: 10px;
	border: 1px solid #CFCFCF;    
}

.arrival_infos textarea {
  min-height: 100px;
}

.arrival_infos button {
	min-width: 33%;
	max-width: 260px;
}

.arrival_page .content_block h1 {
	font-size: 24px;
    text-transform: none;
    font-weight: 900;
}

.arrival_page div p strong {
	font-size: 14px;
	font-weight: bold;
	color: #000;
}

.arrival_page .col {
	float: left;
}

.arrival_page .left {
	width: 65%;
}

.arrival_page .right {
	width: 35%;
}

.arrival_page form {
	padding: 0 80px 0 0;
}

.select-style {
	padding: 0;
    margin: 15px 0 0 0;
    background-color: #fff;
    background: #fff url("../image/arrowdown.png") no-repeat 100% 50%;
    height: 37px;
    border: 1px solid #CFCFCF;
    float: none;
    width: 100%;
}

.select-style select {
    padding: 0 0 0 10px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 37px;
    color: #6d6e76;
}

.arrival_page .flight {
	margin: 80px 0 30px 0;
}

.arrival_page form input[type='checkbox'] {
    display: none;
}

.arrival_page label.check-custom {
    color: #494949;
    border: 1px solid #CFCFCF;
    height: 19px;
    width: 17px;
    padding: 0;
    float: left;
    margin: 2px 10px 20px 0;
}

input.check-custom[type=checkbox]:checked + label:before {
    content: "\25A0";
    color: #df584a;
    text-align: center;
    padding: 3px 0px 0 0px;
}

.arrival_page .description {
    padding: 25px 0 40px 30px;
}
.arrival_page .description p {
	margin: 0px;
}

.arrival_page form button {
	margin: 30px 0 70px 0;
}

.arrival_page form p.will {
	margin: 70px 0 40px 0;
}

.arrival_page .right .row p {
	font-size: 16px;
	color: #545454;
	font-weight: 700;
	margin-bottom: 20px;
}

.arrival_page .right .description {
    padding: 30px 0 0 0;
}

.arrival_page .right .description > p {
	margin-bottom: 20px;
}

.arrival_page .right .description p {
	font-size: 18px;
	color: #545454;
	font-weight: 500;
}
.arrival_page .right .description a {
	font-size: 16px;
	font-weight: 700;
}

.arrival_page .content_block .second_screen h1 {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}
.arrival_page .content_block .second_screen h2 {
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	margin: 30px 80px 0 0;
}
.second_screen label.title {
	margin: 50px 0 15px 0;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
	display: inline-block;
}
.second_screen .row label.other {
	margin-top: 30px;
	display: inline-block;
    width: 100%;
}

.second_screen .drink label.check-custom {
	margin: 0 30px 0 0;
}


@media ( max-width: 1024px ){

	.arrival_page .col {
		float: none;
	}
	.arrival_page .left,
	.arrival_page .right {
		width: 100%;
		display: inline-block;
	}
	.arrival_page form {
	    padding: 0;
	}
	.arrival_page .col-50:first-child input[type="text"],
	.arrival_page .col-50 input[type="text"] {
		width: 96%;
		padding: 13px 2%;
	}

	.arrival_page .col-66,
	.arrival_page .col-50,
	.arrival_page .col-33 {
		display: block;
		float: none;
		width: 90%;
		padding: 0 5% 0 5%;
		clear: both;
	}

	.arrival_infos {
	  margin: 55px 20px 35px;
	}

	.arrival_page label.col-50 {
		margin-top: 20px !important;
		padding: 0 !important;
		width: 100%;
	}
	.arrival_check {
		font-style: italic;
		clear: both;
		float: left;
		display: block;
	}
}