/*
*	CSS Document
*	Playa Escondida
*/

.chat {
background: #EEC578;
width: 200px;
float: right;
padding:10px 10px 120px 0px;
height: 300px;

}
.chat form {
	color: #524f49;
	margin: 10px;
}
.chat_menu{
	background: #ffffff;
	width: 240px;
    float: left;
}

.col-50 	{ float: left; width: 86%; }

#navigation {
	background: #EEC578;
}
form textarea {
	min-height: 100px;
	width: 169px;
	margin: 10px 0px;
}
input {
	margin-top: 10px;
 	border: 1px solid #CFCFCF;
 	padding: 10px 0px;
	width: 175px;
	margin: 10px 0px;
}
button {
	padding: 13px 63px;
	margin: 10px 0px;
	background-color: #355E1E;
	color: #FFF;
}
#menu {
	margin-left: 0px;
}
#menu ul {
    margin: 20px 35px;