
.concept_main li > a:first-child {
	display: table;
}
.concept_main li:hover p {
	opacity: 1;	
}
.concept_main p.centred {
	width: 50%;
	opacity: 0;	
	padding-right: 20%;	
	transition: opacity 0.2s;
}
.concept_main .concept h1 {
	color: #FFF;
	font-size: 55px;
	font-weight: 900;
	display: table-cell;
	vertical-align: middle;
	padding: 0 0px 0 70px;
}
.concept_main .concept {
	background: #EFEFEF;
	display: table;
	width: 100%;
}

ul.concept  {
	background: #EFEFEF;
}

ul.concept li {
	/* anim */
	opacity: 0;
	transition: opacity 0.35s, margin-top 0.45s ; 

	margin-top: 20px;
	float: left;
	width: 33.33334%;	
	height: 550px;
	overflow: hidden;
	background-size: cover;
	position: relative;

	cursor: pointer;
}
ul.concept li.viewed{
	opacity: 1;
	z-index: 0;
	margin-top: 0px;
}

ul.concept li.viewed > a:first-child{
	margin-bottom: 45px;
	/*display: block;*/
}
ul.concept li > a:first-child {
	position: absolute;
	background: rgba(255, 0, 0, 0);
	transition: background 0.5s;
}

ul.concept li:hover > a:first-child {
	position: absolute;
	background: rgba(255, 0, 0, 0.75);
}

ul.concept li.plesarure > a:first-child {	background: rgba( 116, 50, 0, 0);	}
ul.concept li.plesarure:hover > a:first-child {	background: rgba( 116, 50, 0, 0.75);	}

ul.concept li.romance > a:first-child {	background: rgba( 214, 213, 203, 0);	}
ul.concept li.romance:hover > a:first-child {	background: rgba( 214, 213, 203, 0.75);	}

ul.concept li.luna > a:first-child {	background: rgba( 126, 62, 82, 0);	}
ul.concept li.luna:hover > a:first-child {	background: rgba( 126, 62, 82, 0.75);	}

ul.concept li.life > a:first-child {	background: rgba( 54, 106, 138, 0);	}
ul.concept li.life:hover > a:first-child {	background: rgba( 54, 106, 138, 0.75);	}

ul.concept li.playa > a:first-child { 	background: rgba( 211, 75, 39, 0);	}
ul.concept li.playa:hover > a:first-child {	background: rgba( 211, 75, 39, 0.75);	}

ul.concept li.surf > a:first-child { 	background: rgba( 140, 180, 93, 0);	}
ul.concept li.surf:hover > a:first-child {	background: rgba( 140, 180, 93, 0.75);	}

ul.concept li.yoga > a:first-child { 	background: rgba( 68, 101, 118, 0);	}
ul.concept li.yoga:hover > a:first-child {	background: rgba( 68, 101, 118, 0.75);	}

ul.concept li.colors > a:first-child { 	background: rgba( 125, 105, 80, 0);	}
ul.concept li.colors:hover > a:first-child {	background: rgba( 125, 105, 80, 0.75);	}

ul.concept li.nature > a:first-child { 	background: rgba( 78, 91, 43, 0);	}
ul.concept li.nature:hover > a:first-child {	background: rgba( 78, 91, 43, 0.75);	}

ul.concept li.culture > a:first-child { 	background: rgba( 67, 110, 136, 0);	}
ul.concept li.culture:hover > a:first-child {	background: rgba( 67, 110, 136, 0.75);	}

ul.concept li.love-nest > a:first-child { 	background: rgba( 173, 158, 93, 0);	}
ul.concept li.love-nest:hover > a:first-child {	background: rgba( 173, 158, 93, 0.75);	}

ul.concept li > a:first-child div {
	bottom: 0;
	position: absolute;
	margin: 0 0 45px 20px;
}
ul.concept li img {
	width: 100%;
}
ul.concept li.square {
	height: 275px;
}

ul.concept li.square > a:first-child { height: 92%; width: 92%; top: 4%; left: 4%; }

ul.concept li.horizontal {
	width: 66.66667%;
	height: 275px;
}
ul.concept li.horizontal > a:first-child { height: 92%; width: 96%; top: 4%; left: 2%; }

ul.concept li.vertical > a:first-child { height: 96%; width: 92%; top: 2%; left: 4%; }

ul.concept li.fullhorizontal {
	width: 100%;
	height: 285px;
}
ul.concept li.fullhorizontal > a:first-child { height: 90%;
  width: 97.5%;
  top: 5%;
  left: 1.25%; }

ul.concept li.weather{
	background: #00969b;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff ;
	background-image: url(../image/weather/weather_sun.png);
	background-size: 80%;
}
ul.concept li.weather.partly-cloudy{ background-image: url(../image/weather/weather_sunny.png); }
ul.concept li.weather.partly-cloudy--rain_within-12-hours{ background-image: url(../image/weather/weather_sunnyrain.png); }
ul.concept li.weather.mostly-cloudy--rain_within-12-hours{ background-image: url(../image/weather/weather_raining.png); }
ul.concept li.weather.mostly-clear{ background-image: url(../image/weather/weather_sun.png); }
ul.concept li.weather.partly-cloudy{ background-image: url(../image/weather/weather_sunny.png); }

ul.concept li.weather > div {
	text-align: center;
	position: absolute;
	width: 100%;
	margin: 0;
}

ul.concept li.weather:hover > a:first-child {
	background: rgba(255, 0, 0, 0);
}


ul.concept li.weather div.date {
	top: 25px;
	font-size: 0.7em;
}
ul.concept li.weather div.day {
	top: 40px;
	font-size: 1.3em;
}
ul.concept li.weather div.prevision {
	bottom: 45px;
	font-size: 1.1em;
}
ul.concept li.weather div.data {
  bottom: 20px;
  font-size: 0.8em;
}

ul.concept li.weather div.sign {
	width: 100px;
	height: 100px;
	top: 50%;
	margin-top: -50px;
	left: 50%;
	margin-left: -50px;
	background: url('../image/weather_signs.png');
}

ul.concept li h2 {
	font-size: 14px;
	font-weight: 600;
	color: #fffc00;
	margin-bottom: 15px;
	font-weight: normal;
}
ul.concept li h3 {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
	color: #fff;
}

ul.concept li p.centred {
	font-size: 16px;
	letter-spacing: 0.05em;
	line-height: 22px;
	max-width: 200px;
	color: #FFF;
	display: table-cell;
	vertical-align: middle;
}

@media ( max-width: 640px ){
	ul.concept li {
		width: 100%;	
	}

	ul.concept li.horizontal {
		width: 100%;
	}

	.concept_main .concept h1 {
		font-size: 25px;
		padding: 0px 40px 0;
	}

	.concept_main p.centred {
		width: auto;
		padding: 0 70px 35px;
		display: block;
	}

	ul.concept li p.centred{
		display: none; 
	}
}