
.contact_page .col-66 {
	float: left;
	width: 61.665%;
	padding: 0 5% 0 0;
}

.contact_page .col-50 input[type="text"] {
	padding: 13px 4%;
  	width: 92%;
}

.contact_page .col-50:first-child input[type="text"] {  width: 80%; }

.contact_page {
	background: #F6F6F6;
}

.contact_form {
	margin: 55px;
}

.contact_form .row{
	color: #555;
}

.contact_page h2 {
	margin-bottom: 55px;
	font-weight: 900;
	font-size: 1.65em;
}

.contact_form p {
	margin: 0 0 5px;
	min-height: 1.1em;
}

.contact_form p:first-child {
	margin-bottom: 35px;
}

.contact_form form > div {
	margin: 0 0 24px;
}

.contact_form input[type="text"],
.contact_form input[type="email"], 
.contact_form textarea {
	width: 96%;
	padding: 13px 2%;
	margin-top: 10px;
	border: 1px solid #CFCFCF;
}

.contact_form textarea {
  min-height: 100px;
}

.contact_form button {
	min-width: 33%;
}

@media ( max-width: 640px ){

	.contact_page .col-50:first-child input[type="text"],
	.contact_page .col-50 input[type="text"] {
		width: 96%;
		padding: 13px 2%;
	}

	.contact_page .col-66,
	.contact_page .col-50,
	.contact_page .col-33 {
		display: block;
		float: none;
		width: 90%;
		padding: 0 5% 0 5%;
	}

	.contact_form {
	  margin: 55px 20px 35px;
	}

	.contact_page label.col-50 {
		margin-top: 20px !important;
		padding: 0 !important;
		width: 100%;
	}

}