.general_sayulita .content_block ul li.single {
	padding: 0 85px;
	width: auto;
}
.general_sayulita .content_block .description {
	margin: 60px 0px;
}
.general_sayulita .head_page p {
	margin-top: 30px;
}

@media (max-width: 1024px){	
	.general_sayulita .content_block ul li.single {
		padding: 0 25px;
		width: auto;
	}

	.general_sayulita .content_block .description {
	  margin: 0px 0px;
	}


}