
.hotel_areas {
	height: 195px;
	display: table;
}
.hotel_areas hr.break {
	text-align: center;
	width: 75px;
	background: #df584a;
	height: 3px;
	border: 0;
	margin: 73px auto 28px auto;
}
.hotel_areas h3 {
	color: #df584a;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 24px;
	text-align: center;
}
.hotel_areas ul {
	margin: 75px 0 0 0;
}
.hotel_areas ul li {
	width: 25%;
	float: left;
	min-height: 465px;
}
.hotel_areas ul li h1 {
	font-size: 20px;
	color: #fff;
	margin: 30px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
}
.hotel_areas ul li a{
	height: 166px;
	width: 166px;
	background-size: contain;
	margin: 0 auto;
	display: block;
}
.hotel_areas ul li.templo { background: #54803c; }
.hotel_areas ul li.luna { background: #9bb53e; }
.hotel_areas ul li.sol { background: #de8022; }
.hotel_areas ul li.villas { background: #df584a; }
.hotel_areas ul li img {
	margin: 0 auto;
	display: block;
}
.hotel_areas ul li p {
	margin: 0 30px;
	text-align: center;
	font-size: 14px;
	line-height: 17px;
	color: #f3f6ec;
}
.hotel_areas ul li hr {
	margin: 30px auto;
	width: 75px;
	border: 0;
	background: #fff;
	height: 4px;
	opacity: 0.3;
}
body.home .cart {
	position: absolute;
	width: 100%;
	z-index: 9;
	background-color: transparent;
	color: #fff;
}
body.home .cart i {
	background-image: url('../image/cart_white.png');
}

@media ( max-width: 640px ){
	.hotel_areas ul li {
		width: 100%;
		min-height: 415px;
	}
}

