/*
		CSS criado por Frederico - fredericosantana11@hotmail.com
		16/06/2015
*/
.home_mobile {
	margin: 0 auto;
	font-family: "Open sans";
}
.banner_home {
	width: 100%;
	display: block;
	margin-bottom: 1px;
	margin-top: 105px;
}
.home_mobile .menu {
	width: 100%;
}
.home_mobile .menu ul {
	height: 394px;
	width: 100%;
	padding: 0;
	margin: 0;
}
.home_mobile .menu ul li {
	background-color: #9BB53E;
	width: 49.8%;
	list-style-type: none;
	height: 130px;
	float: left;
	border-bottom: 1px solid white;
}
.home_mobile .menu ul li img {
	margin: 0 auto;
	display: block;
}
.home_mobile .menu ul li p {
	color: white;
	text-align: center;
	display: block;
}
.home_mobile .menu ul li a {
	text-decoration: none;
}
.home_mobile .menu ul li a i {
    width: 40px;
    height: 50px;
    position: relative;
    display: block;
    margin: 18px auto 0px;
    background-repeat: no-repeat;
    background-image: url('../image/sprite_home_mobile.png');
}
.home_mobile .sprite_hm_prices {
    background-position: -24px -11px;
}
.home_mobile .sprite_hm_book {
	background-position: -96px -10px;
}
.home_mobile .sprite_hm_concept {
    background-position: -166px -9px;
}
.home_mobile .sprite_hm_experience {
    background-position: -235px -9px;
}
.home_mobile .sprite_hm_hotel {
	background-position: -302px -11px;
}
.home_mobile .sprite_hm_map {
    background-position: -374px -9px;
}
.home_mobile .menu .border {
	border-right: 1px solid white;
}
.information {
	height: 326px;
	margin: 25px 0px 0px 40px;
}
.information h1 {
	font-size: 14px;
	font-weight: bold;
	margin: 25px 0px 25px 0px;
}
.information p {
	color: #DF584A;
	font-size: 12px;
}

footer {
	background-color: #DF5A4A;
	width: 100%;
	height: 64px;
}
footer img {
	margin: 19px 0px 0px 40px;
}
.btn_go {
	width: 90%;
    height: 42px;
    font-size: 18px;
    color: #FFF;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #54803C;
    cursor: pointer;
    display: block;
    margin: 30px auto;
    padding: 19px 0 0px 0;
}
.home_mobile .must_see video {
	top: 3px;
}
.home_mobile .must_see {
	background: transparent;
	margin-top: 100px;
	height: 208px !important;
}
.home_mobile .must_see .bg {
	opacity: 1 !important;	
}