.map {
	position: relative;
	overflow: hidden;
	width: 1360px;
	/* height: 959px; */
	transform-origin: bottom left;
	transition: width 0.3s;
	bottom: 0;
	background-color: #7DF2D7;
	transition: width 1s;
}

.rightbar .map{
	cursor: ew-resize;
}

.layer a {
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #54803C;
  display: block;
  width: 10px;
  height: 10px;
	z-index: 1;
  border: 3px solid #FFF;
  border-radius: 20px;
  transition: all 0.7s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.layer a.active,
.layer a:hover{
	background: #DD594E;
	border: 3px solid #DD594E;
} 

.layer a:before {
	content: " ";
	height: 10px;
	width: 10px;
	background-color: rgba(221, 89, 78, 0.57);
	display: block;
	margin: 0px;
	z-index: -1;
	opacity: 1;
	border-radius: 25px;

	transition: all 0s;
}

.layer a.animate:before {
	height: 50px;
	width: 50px;
	border-radius: 25px;
	margin: -20px;
	opacity: 0;
	transition: all 1s;
}

#rightbar h1{
	font-weight: bold;
	line-height: 1.2em;
}

#rightbar h2{
	font-style: italic;
	line-height: 1.2em;
}

#rightbar p{
	margin-bottom: 30px;
	line-height: 1.2em;
	font-size: 0.95em;
}

#rightbar p.description {
  margin-top: 15px;
}

#rightbar label{
	opacity: 0.5;
	display: block;
	font-size: 0.9em;
}


.rightbar .map {
	width: 1059px;
}

.inside{
	background: #c4e8d0;
}

.layers {
	width: 100%;
	height: 650px;
	overflow: hidden;
	/*background: url(../image/mapa_topo.jpg) #031208;*/
	background-size: 100%;
}

.layer{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: all 1s;
	/*transform-origin: center top;*/
}

.layer .obj{
	position: absolute;
	width: 120%;
	left: -10%;
}

.layer0,
.layerbuttons { /*transform: scale(3.0);*/ }
.layer1 { transform: scale(2.5); }
.layer2 { transform: scale(2.0); }
.layer3 { transform: scale(1.5); }
.layer4 { transform: scale(1); }

.layer0 .obj{
	width: 400px;
	height: 300px;

	bottom: -65px;
	background: url(../image/mapa_layer1.png);
	background-size: contain;
}

.layer1 .obj{
	height: 868px;
	bottom: 0px;

	background: url(../image/mapa_layer2.png);
	background-size: contain;
}


.layer2 .obj{
	height: 550px;
	bottom: 50px;
	right: 0;

	width: 350px;	

}


.layer3 .obj{
	height: 526px;
	bottom: 356px;
	background: url(../image/mapa_layer3.png) no-repeat;
	background-size: contain;
}


.layer4 .obj{
	height: 612px;
	bottom: 250px;
	background: #F00;

}

.layer5 .obj{
	height: 960px;
	bottom: 0px;
	background: url(../image/mapa_layer4.png);

}

/*
.layer_complete{
	background: url(../image/mapa_topo.jpg) #031208;
	background-size: 100%;
}*/

.layer_complete .obj {
	height: 100%;
	bottom: 0px;
	background: url(../image/mapa.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	width: 100%;
	left: 0;
}

.layer_bg .obj{
	height: 50%;
	background: #90C3D6;
}

@media ( max-width: 720px ){
	#rightbar {
		display: block;
		right: 0px;
		top: inherit;
		position: relative;
		width: 100%;
		box-sizing: border-box;
		height: 0;
		padding: 0 35px;
	}

	.rightbar #rightbar{
		height: auto;
		padding: 40px 35px;
	}
}