.offers_inside {
	background: #f7f7f7;
}
.offers_inside p.title {
	text-align: center;
	height: 100px;
	font-size: 18px;
	color: #000;
	padding-top: 50px;
}
.offers_inside ul.tabs li {
	height: 100px;
	float: left;
	width: 49%;
	text-align: center;
	background: #54803c;
	cursor: pointer;
}
.offers_inside ul.tabs li a {
	color: #fff;
}
.offers_inside ul.tabs h1 {
	text-align: center;
	color: #fff;
	margin-top: 35px;
}
.offers_inside ul.tabs li.spacing {
	width: 2%;
	background: transparent;
}
.offers_inside ul.tabs li.active {
	background: #9bb53e;
}
.beach_front {
	clear: both;
	background: #9bb53e;
	padding: 20px;
}
.beach_front ul {
	background: #fff;
}
.beach_front ul li {
	height: 80px;
	float: left;
	width: 33%;
	background: #8f8f7c;
	cursor: pointer;
}
.beach_front ul li.spacing {
	width: 0.5%;
	background: transparent;
}
.beach_front ul li.active, .beach_front ul li.active h2 {
	background: #fff;
	color: #000;
}
.beach_front ul li h2 {
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-weight: bold;
	line-height: 1;
}
.beach_front ul li span {
	font-weight: normal;
}
.tab_nights {
	background: #fff;
	display: table;
	width: 100%;
	padding-bottom: 30px;
}
.tab_nights button {
	width: 280px;
	margin: 40px auto;
	display: block;
	text-align: center;
	height: 60px;
	position: relative;
}
.card_offer {
	width: 280px;
	margin: 0 auto;
	background: #eec578;
	padding: 15px;
	position: relative;
}
.tab_nights .left {
	margin-right: 10px;
	margin-bottom: 20px;
}
.inner_offer {
	border: 2px solid #8b7a5b;
}
.card_offer img {
	display: block;
	margin: 30px auto;
}
.card_offer h3 {
	font-size: 18px;
	text-align: center;
}
.card_offer p {
	margin: 30px 15px;
	text-align: center;
}
.card_offer .value {
	color: #df584a;
}
.tab_nights .icon_more {
	display: block;
	margin: 20px auto;
	clear: both;
}
.centralize {
	margin: 0 auto;
	width: 960px;
	position: relative;
}
.card_offer .icon_or {
	position: absolute;
	top: 215px;
	margin-left: -50px;
}
@media ( max-width: 1260px ){
	.centralize .left {
		float: none;		
		margin: 0 auto 10px !important;
	}
	.centralize {
		width: auto;
	}
	.card_offer .icon_or {
		position: absolute;
		top: -66px;
		left: 177px;
	}
}
.content_block .five_nights_content {
	display: none;
}
.content_block .four_nights_content {
	display: none;
}
body.offers .cart_i {
	height: 60px;
	text-align: right;
	background: #fff;
	color: #000;
	position: relative;
}
body.offers .cart_i i {
	background-image: url('../image/cart.png');
}
body.offers .cart_i p {
	color: #494949;
}