.content_block ul .box {
	margin-right: 2px;
	width: 33%;
	float: left;
}
.online_store ul.tabs li div.content_shop {
	padding: 20px 20px;
	background-color: #fff;
	height: 800px;
}
.online_store ul.tabs li div.desc {
	padding: 15px 20px;
}
.online_store ul.tabs {
	margin: 40px 82px;	
}
.online_store .content_block {
	background: #ededed;
}
.online_store ul.tabs h2 {
	margin: 0;
}
.online_store .head_page {
	margin: 0 82px;
}
body.online_store .cart_i {
	height: 60px;
	text-align: right;
	background: #fff;
	color: #000;
	position: relative;
}
body.online_store .cart_i i {
	background-image: url('../image/cart.png');
}
body.online_store .cart_i p {
	color: #494949;
}