/******************************* accomodation price ***********************/
.tabpanel {
	width: 100%;	
}
.tab-accommodation {
	display: table;
}
.form-group {
	width: 96%;
	padding: 18px 2%;
	display: table;
	border-bottom: 1px #c3d38b solid;
}

.form-group:last-child {
	background-color: #8CA532;
}

.form-label {
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	margin: 18px 0 0 0;
	display: block;
}
.form-single {
	float: left;
	margin: 18px 2%;	
}
.form-single input {
	width: 90%;
	padding: 3px 5%;
}
.col-22 {
	width: 18%;
	position: relative;
}
.col-25 {
	width: 21%;
	text-align: center;
	position: relative;
}
.col-33 {
	width: 33.332%;
	position: relative;
}
.col-34 {
	width: 30%;
	position: relative;
}
.col-78 {
	width: 72%;
	position: relative;
}

.form-prices {
	background-color: #9BB53E;
}
.form-prices input,
.form-prices select {
	display: inline-block;
	height: 35px;
	font-size: 12px;
	padding: 3px 2%;
	width: 100%;
	color: #6d6e76;
}
.form-prices input{
	padding: 3px 8%;
	width: 82%;
}
.form-prices select {
	height: 45px;
}
.form-prices .form-group .form-group-line{
	clear: both;
}
.form-prices select.first-sel {
	/*margin: 0 0 0 32px;*/
}
.form-prices input[type='checkbox'] {
	display: none;
}
label.check-custom {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
	margin-bottom: 15px;
    font-size: 13px;
    margin-top: 10px;
    color: white;
}
label.check-custom:before, {
    content: " ";
    display: inline-block; 
    width: 16px;
    height: 16px; 
    margin-right: 10px;
    position: absolute;
    left: 0;
	bottom: 50%;
	margin-bottom: -8px;
    background-color: #fff;
}
input.check-custom[type=checkbox]:checked + label:before {
    content: "\25A0";
    color: #df584a;
    text-align: center;
}

.bar{
	height: 5px;
	margin-top: 20px;
	background-color: #FFF;
	border-radius: 10px;
	cursor: pointer;
}

.bar .minimo,
.bar .maximo {
	height: 20px;
	width: 20px;
	border: 1px solid;
	display: block;
	position: absolute;
	bottom: 5px;
	left: 25%;
}

.nav-tabs {
	width: 100%;
	height: 80px;
	position: relative;
}

.nav-tabs li {
	width: 40%;
	float: left;
	background-color: #54803C;
	padding: 32px 5%;
	text-align: center;
}

.nav-tabs a {
	height: 50px;
	text-decoration: none;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
	text-align: center;	
	width: 100%;
	margin-top: 30px;
}

.nav-tabs li.active {
	background-color: #9BB53E;
}

.tab-price ul{
	display: table;
	width: 100%;
}

.tab-price li {
	padding: 0 0 0 2%;
	clear: both;
	display: table-row;
	width: 100%;
}

.tab-price li > span {
	display: table-cell;
	vertical-align: middle;

	padding: 1%;
	border-right: 1px solid #B4B4B4;
	border-bottom: 1px solid #B4B4B4;
	margin-right: -1px;
	height: 75px;
}

.tab-price li > span:nth-child(1){ width: 21%; text-transform: uppercase; padding: 1% 0 0 4%; }
.tab-price li > span:nth-child(2){ width: 8.5%; }
.tab-price li > span:nth-child(2) strong{ text-align: center; font-size: 1.6em; padding-top: 7px; display: block; color: #00979A; }
.tab-price li > span:nth-child(3){ width: 8.5%; }
.tab-price li > span:nth-child(3) strong{ text-align: center; font-size: 1.6em; padding-top: 7px; display: block; color: #DA7F22; }
.tab-price li > span:nth-child(4){ width: 21%; color: #DE5A4B; font-size: 0.9em; text-transform: uppercase; text-align: center; }
.tab-price li > span:nth-child(5){
	width: 25%;
	border-right: 0px solid #B4B4B4;
	padding: 0;
}

.tab-price li div span {
	width: 40%;
	display: inline-block;
	padding: 22px 5%;
	text-align: center;
	border-right: 1px solid #B4B4B4;
	margin-right: -1px;
	cursor: pointer;
}

.tab-price li span:nth-child(1) strong{
	font-weight: 800;
}

.tab-price li span:nth-child(1) div{
  padding-top: 3px;
}

.tab-price li > span .button {
	background-color: #959595;
	text-transform: uppercase;
	color: #FFF;
	padding: 22px;
	text-align: center;
	cursor: pointer;
}

.tab-price li > span .button:hover {
	background-color: #B7B7B7;
}

.tab-price li > span small {
	font-size: 0.8em;
	color: #6E6E76;
	text-align: center;
	display: block;
}

.btnmorefilters {
	width: 190px;
	height: 42px;
	font-size: 14px;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background-color: #54803C;
	border: 0px;
	float: left;
	margin-left: 2%;
	cursor: pointer;
}

p.options {
	color: #fff;
	text-transform: uppercase;
	float: right;
	margin: 12px 30px 0 0;
}
ul.rooms li {
	width: 33.33%;
	float: left;
	background-color: #f5f4f4;
}
ul.rooms div img {
	width: 100%;
}
ul.rooms h1 {
	font-size: 17px;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	margin: 32px 0 15px 0;
}
ul.rooms h2 {
	font-size: 14px;
	color: #de8022;
	text-transform: uppercase;
}
ul.rooms .info {
	margin: 0 35px;
}
ul.rooms .info p {
	margin: 17px 0 0 0;
	font-size: 14px;
	color: #585858;
	font-weight: normal;
}
ul.rooms hr {
	margin: 25px 0;
}
ul.rooms p.warn {
	color: #df5a4a;
	text-transform: uppercase;
}
ul.rooms hr {
	background-color: #959595;
	border: 0px;
	height: 1px;
}
ul.rooms button {
	background-color: #54803c;
	width: 100%;
	border: 0px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	padding: 15px 0;
	cursor: pointer;
	margin-bottom: 30px;
}
.pagination {
	width: 100%;
	display: table;
	border-top: 1px solid #B4B4B4;
}
.pagination ul {
	float: left;
	margin: 30px 0 30px 32px;
}
.pagination ul li {	
	border: 1px solid #959595;
	float: left;
	border-right: 0px;
	padding: 15px 0px;
}
.pagination ul li:last-child {	
	border-right: 1px solid #959595;
}
.pagination ul a {
	padding: 15px 20px;
	font-weight: bold;
	font-size: 14px;
	color: #959595;
	text-decoration: none;
}
.pagination ul a.active {
	background-color: #df584a;
	color: #fff;
}
.pagination button {
	float: right;
	padding: 15px 50px;
	margin: 32px;
}

@media (max-width: 1024px){

	.form-single.col-25 {
		width: 46%;
	}



	.form-single.col-78 {
		width: 96%;
	}

	ul.rooms li {
	  width: 50%;
	}

	.form-prices input{
		padding: 3px 8%;
		width: 82%;
	}
}

@media (max-width: 640px){

	.form-label {
		margin: 0;
	}

	.form-single .col-33 {
		width: 50%;
	}

	.form-prices input, .form-prices select,
	.form-prices select.first-sel {
		margin: 0;
	}

	.form-single.col-22,
	.form-single.col-25,
	.form-single.col-34 {
		width: 96%;
		text-align: center;
	}

	ul.rooms li {
	  width: 100%;
	}

	.tab-price li {
		padding: 0;
		clear: both;
		display: block;
		width: 100%;
	}

	.tab-price li > span:nth-child(1) {
		width: 60%;
		text-transform: uppercase;
		padding: 0px;
		padding: 1% 0 0 4%;
	}

}
