
.fixer{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2;
}

.show-mobile-only{
	display: none;
}

/*******************/

.loader {
	width: 100px !important;
	overflow: visible !important;
	height: 20px;
	position: absolute;
	top: 180px;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	      transform: translate(-50%, -50%);
}
.loader > div {
  content: " ";
  width: 20px;
  height: 20px;
  background: #2196F3;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: shift 2s linear infinite;
          animation: shift 2s linear infinite;
}
.loader > div:nth-of-type(1) {
  -webkit-animation-delay: -.4s;
          animation-delay: -.4s;
}
.loader > div:nth-of-type(2) {
  -webkit-animation-delay: -.8s;
          animation-delay: -.8s;
}
.loader > div:nth-of-type(3) {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
.loader > div:nth-of-type(4) {
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}

@-webkit-keyframes shift {
  0% {
    left: -60px;
    opacity: 0;
    background-color: yellow;
  }
  10% {
    left: 0;
    opacity: 1;
  }
  90% {
    left: 100px;
    opacity: 1;
  }
  100% {
    left: 160px;
    background-color: red;
    opacity: 0;
  }
}

@keyframes shift {
  0% {
    left: -60px;
    opacity: 0;
    background-color: yellow;
  }
  10% {
    left: 0;
    opacity: 1;
  }
  90% {
    left: 100px;
    opacity: 1;
  }
  100% {
    left: 160px;
    background-color: red;
    opacity: 0;
  }
}


/******************************* accomodation price ***********************/
.tabpanel {
	width: 100%;	
}
.tab-accommodation {
	display: table;
	width: 100%;
}
.form-group {
	width: 96%;
	padding: 0 2% 2%;
	overflow: hidden;
	/*border-bottom: 1px #c3d38b solid;*/
}

/*
.form-group button{
	margin-top: 2%;
}
/*
.form-group:last-child {
	background-color: #8CA532;
}
*/
.form-label {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	margin: 0px 0 -3px 0px;
	display: block;
}
.form-single {
	float: left;
	margin: 3% 2% 0;
	text-align: left;
	color: #FFF;
	font-size: 0.8em;
	box-sizing: border-box;
}
.form-single input {
	width: 90%;
	padding: 3px 5%;
}
.form-single a {
	text-decoration: underline;
	color: #FFF;
	text-align: left;
}
.col-10 {
	width: 6%;
	position: relative;
}
.col-15 {
	width: 11%;
	position: relative;
}
.col-20 {
	width: 16%;
	position: relative;
}
.col-22 {
	width: 18%;
	position: relative;
}
.col-25 {
	width: 21%;
	position: relative;
}
.col-30 {
	width: 26%;
	position: relative;
}
.col-33 {
  width: 33.332%;
  position: relative;
}
.col-34 {
  width: 30%;
  position: relative;
}
.col-50 {
  width: 46%;
  position: relative;
}
.col-78 {
  width: 72%;
  position: relative;
}

.form-prices {
	background-color: #9BB53E;
	padding: 1% 0 2%;
	padding-top: 25px;
}
.form-prices input,
.form-prices select {
	display: inline-block;
	height: 35px;
	padding: 3px 2%;
	width: 100%;
	color: #DF584A;
	outline: none;
}
.form-prices .form-single{	
	border: 2px solid #9BB53E;
	transition: border .5s;
}
.form-prices .next{
	border: 2px solid #DD594E;
}
.form-prices input{
	padding: 0px 8%;
	width: 84%;
	border: 0;
}
.form-prices select {
	height: 45px;
}
.form-prices .enumerable{
	counter-reset: section; 	
}
.form-prices .enumerable > div:before {
	counter-increment: section;
	content: counter(section);
	position: absolute;
	top: -20px;
}
.form-prices .enumerable > div.complete:before {
	color: #54803C;
}

.form-single.col-30.col-mobile-100.warn {
	font-size: 0.85em;
	line-height: 1.4em;
}
.form-single.col-30.col-mobile-100.warn a {
	font-weight: 600;
}

.select-style {
    padding: 0;
    margin: 3% 2% 0;
    background-color: #fff;
    background: #fff url("../image/arrowdown.png") no-repeat 100% 50%;
	height: 41px;
}
.select-style.focus {
    background: #fff url("../image/arrowup.png") no-repeat 100% 50%;
}

/*
.select-style select {
	padding: 0 0 0 10px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 37px;
}
.select-style select:focus {
    outline: none;
}
.select-style select option {
	color: #6d6e76;
	text-transform: uppercase;
}
*/

.form-prices .disabled,
.form-prices select[disabled] {
	opacity: 0.3;
}

.form-prices .disabled select[disabled] {
	opacity: 1;
}

.form-prices .form-group .form-group-line{
	clear: both;
	overflow: hidden;
}
.form-prices select.first-sel {
	/*margin: 0 0 0 32px;*/
}
.form-prices input[type='checkbox'] {
	display: none;
}

/*
label.check-custom {
	display: inline-block;
	cursor: pointer;
	position: relative;
	height: 15px;
	padding-left: 25px;
	margin-right: 15px;
	margin-bottom: 15px;
	font-size: 13px;
	margin-top: 10px;
	color: white;
}
label.check-custom:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	font-size: 22px;
	line-height: 9px;
	left: 0;
	bottom: 26%;
	margin-bottom: -8px;
	background-color: #FFF;
}
input.check-custom[type=checkbox]:checked + label:before {
	content: "\25A0";
	color: #df584a;
	text-align: center;
}*/

.slider-filter{
	padding-top: 10px;
}

.slider {
	/*margin: 0 20px;*/
}

.bar,
.sub_bar{
	height: 5px;
	margin-top: 10px;
	background-color: #FFF;
	border-radius: 20px;
	cursor: pointer;
	border: 10px solid #9BB53E;

	-webkit-touch-callout: none;
    
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sub_bar{
	background-color: #54803c;
	position: absolute;
	width: 100%;
	top: 0;
	margin: 30px 0;
	padding: 0 10px;
	border: 0;
	box-sizing: border-box;
}

.bar .minimo,
.bar .maximo {
	width: 60px;
	margin-left: -30px;
	margin-bottom: 20px;
	height: 25px;
	text-align: center;
	padding: 8px 3px 0;
	background-color: #FFF;
	color: #1d4546;
	display: block;
	position: absolute;
	bottom: 7px;
	left: 0;
	border-radius: 7px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bar .minimo:after, .bar .maximo:after {
	content: " ";
	background: url(../image/slider_arrow.png);
	height: 24px;
	width: 20px;
	display: block;
	position: absolute;
	bottom: -24px;
	left: 50%;
	margin-left: -10px;
}

.bar .maximo {
	left: 100%;
}

/* == AJUSTE 
.bar .minimo{ margin-left: 0; }
.bar .maximo{ margin-right: 0; }

.bar .minimo:after{	left: 25%; }
.bar .maximo:after{	left: 75%; }
*/

.nav-tabs {
	width: 100%;
	height: 80px;
	max-width: 1600px;
	margin: 0 auto;
	/*position: relative;*/
	padding-right: 84px;
	/*padding-left: 249px;
	padding-bottom: 25px;*/
	box-sizing: border-box;
	z-index: 100;
	/*border-bottom: 25px solid #9BB53E;*/
}

.nav-tabs li {
	width: 50%;
	float: left;
	background-color: #54803C;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	/*border-right: 4px solid #ededed;*/
}

.nav-tabs a {
	text-decoration: none;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	padding: 32px 5%;
	display: block;
}

.nav-tabs li.active {
	background-color: #9BB53E;
}

.nav-tabs li.active:hover {
	background-color: #9BB53E;
}
.nav-tabs li:hover {
	background-color: #DD594E;
}

.filter{
	/*padding-top: 80px;*/	
}


/* TAB PRICES ======================= */

.tab-price ul.body li.label > span{
	height: 160px;	
	background: #efeff0;
	position: relative;
	cursor: pointer;
}

.tab-price ul.body li.label:nth-child(odd){
	background: #f8f8f8;
}

.tab-price ul.body li.label a{
	padding-top: 35px;
	padding-bottom: 45px;
	height: 0;
}

.tab-price ul.body li.label i{
	position: absolute;
	top: 10px;
	right: 0px;
	font-size: 12px;
	color: #DD594E;
	font-style: italic;
}

.tab-price li.label > span:nth-child(1) strong {
	font-weight: 800;
	font-style: normal;
	text-transform: uppercase;
	color: #000;
}

.tab-price li.label > span:nth-child(1):after{
	content: "+";
	width: 14px;
	font-size: 1.5em;
	text-align: right;
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	margin: -12px 0;
	color: #DD594E;
}

.tab-price ul.body li.label:hover > span:nth-child(1):after,
.tab-price ul.body li.label.open > span:nth-child(1):after{
	color: white;
	opacity: 1;
}
.tab-price ul.body li.label.open > span:nth-child(1):after{
	content: "\2013";
	font-size: 1.3em;
}

.tab-price ul.body li.label > span:nth-child(2),
.tab-price ul.body li.label > span:nth-child(3){
	padding-top: 50px\9;
}


.tab-price ul.body li.label > span.prices div:nth-child(2){
	color: white;
	text-align: center;
	text-transform: lowercase;
	font-style: italic;
	font-size: 12px;
}

.tab-price ul.body li.label.open > span.prices div:nth-child(2),
.tab-price ul.body li.label > span.prices div:nth-child(1){
	opacity: 1;
	transition: all 0.2s;
	visibility: visible;
	display: block;
}

.tab-price ul.body li.label > span.prices div:nth-child(2),
.tab-price ul.body li.label.open > span.prices div:nth-child(1){
	visibility: hidden;
	opacity: 0;
	display: none;
}


.tab-price ul.body li.label.open > span {
	height: 62px;	
	position: relative;

}

.tab-price ul.body li.label.open a{
	padding-top: 10px;
	padding-bottom: 20px;
	height: 0;
}

.tab-price ul.body li.label a > div{
	position: absolute;
	top: 50%;
	left: 13%;
	transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
}


.tab-price ul.body li.label a > div > div{
	font-style: italic;
}

/**/

.tab-price ul.body .prices span {
	width: 50%;
	display: inline-block;
}

.tab-price ul.body .prices.values-1 span {
	width: 100%;
	display: inline-block;
}

.tab-price ul.body .prices.values-2 span {
	width: 50%;
	display: inline-block;
}

.tab-price ul.body .prices.values-3 span {
	width: 33.333%;
	display: inline-block;
}

.tab-price ul.body .prices.values-4 span {
	width: 25%;
	display: inline-block;
}

.tab-price > ul{
	background: #8aa137;
	display: table;
	width: 100%;
	position: relative;

	min-height: 50vh;
}

.tab-accommodation > ul.rooms:before,
.tab-price > ul.body:before {
	content: "loading rooms...";
	color: #F6F6F6;
	text-align: center;
	width: 100%;
	display: block;
	font-weight: 300;
	margin-top: 10px;
	opacity: 0;
	position: absolute;
	top: 0;
	font-style: italic;
	font-size: 1.4em;
	background: url(../image/preloader_9.gif) no-repeat bottom center rgba(255, 255, 255, 0);
	height: 105px;

	transition: all 1s;
}
.tab-accommodation > ul.rooms.loading:before,
.tab-price > ul.body.loading:before {
	margin-top: 100px;
	opacity: 1;
}

.tab-price > ul li {
	clear: both;
	display: block;
	overflow: hidden;
	width: 100%;
	z-index: 1;
}

.tab-price > ul li.fixed {
	position: fixed;
	top: 0;
	max-width: 1350px;
}

ul.rooms > li.filtered,
.tab-price > ul li.filtered{
	display: none !important;
}

li.room_content {
	width: 100% !important;
	position: relative;
	display: block;
}
li.room_content .inside{
	border: 0;
}

li.room_content .loading {
	background-color: #DD594E;
	padding: 15px 0;
	color: #FFF;
	text-transform: lowercase;
	text-align: center;
	font-style: italic;
}

li.room_content:hover .inside .bg {
	transform: scale(1);
}

li.room_content .inside .must_see:hover .bg,
li.room_content .inside .cover:hover .bg {
	transform: scale(1.05);
}

.tab-price ul.body li{
	margin-top: 0px;
	opacity: 1;
	transition: margin 0.65s ease-in-out, opacity 0.65s;
}

.tab-price ul.body li.hidden{
	margin-top: 50px;
	opacity: 0;
	visibility: hidden;
}

.tab-price ul.body li.open.label > span{
	/*padding-top: 19px;*/
}

.tab-price ul.body li.label span,
.tab-price ul.body li.open.label span,
.tab-price ul.body li > span {
	transition: background-color 0.5s, color 0.5s, opacity 0.65s;
}

.tab-price ul.body li.label.open > span {
	background: #8aa137;
}
.tab-price ul.body li.label:hover > span,
.tab-price ul.body li.label.hover > span{
	background: #DD594E;
	color: white;
	opacity: 1 !important;
}

.tab-price ul.body li.label:hover span.description span,
.tab-price ul.body li.label.hover span.description span{
	opacity: 1 !important;
}

.tab-price ul.body li.room:hover > span,
.tab-price ul.body li.room.hover > span,
.tab-price li.room.open > span{
	background: #e1e1e3;
}

.tab-price li.label.open span strong,
.tab-price li.label.open span i,
.tab-price li.label.open span small,
.tab-price li.label.open span div,
.tab-price li.label.hover table.calendar th,
.tab-price li.label.hover > span strong,
.tab-price li.label.hover > span i,
.tab-price li.label.hover > span div,
.tab-price li.label.hover > span small,
.tab-price li.label:hover table.calendar th,
.tab-price li.label:hover > span strong,
.tab-price li.label:hover > span i,
.tab-price li.label:hover > span div,
.tab-price li.label:hover > span small{
	color: #fff !important;
}

.tab-price li span.options span:hover i.video {
	background-image: url('../image/price_sprite_cart_hover.png');
}

.tab-price li span:first-child.disabled,
.tab-price li span:first-child:hover.disabled {
	background: #fff;
	cursor: default;
	opacity: 0.5;
}

.tab-price li span.options span:hover i.video {
	background-image: url('../image/price_sprite_cart_hover.png');
}

.tab-price li span.options span:hover.disabled i.video {
	background-image: url('../image/price_sprite_cart.png');
}


.tab-price li > span {
	display: block;
	float: left;
	/*border-right: 1px solid #B4B4B4;*/
	border-bottom: 1px solid #B4B4B4;
	background: #FFF;
	height: 55px;
	vertical-align: middle;
	box-sizing: border-box;
	padding: 0;
	width: 24%;
}
.tab-price li > span:last-child {
	border-right: 0;
}

.tab-price ul.header span {
	padding: 20px 0 !important;
	text-align: center;
	color: #6d6e76;
	font-size: 0.8em;
}

.tab-price ul.body li > span {
	height: 160px;
}

.tab-price ul.body i.true{
	background: url('../image/price_status_icones.png');
	background-size: cover;
	height: 38px;
	width: 50px;
	display: inline-block;
	vertical-align: middle;
}

/*.tab-price ul.body li:hover i.true{
	background-position: center right;
}*/
.tab-price ul.body li > span:nth-child(1){ width: 21%;}
.tab-price ul.body li > span:nth-child(4){ width: 21%;}
.tab-price ul.body li > span:nth-child(5){ width: 15%;}
.tab-price ul.body li.label > span.description{ width: 48%; border-right: 0;}
.tab-price ul.body li.label > span.description span{ height:100%; width: 100%; background: url(../image/price/lunas.png) no-repeat left center; background-size: cover; opacity: 0.05; display: block;}
.tab-price ul.body li.label > span.calendar{ width: 48%; display: none; }
.tab-price ul.body li.label > span.calendar{ position: relative; }
.tab-price ul.body li.label > span.calendar div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	width: 80%;
	text-align: center;
}
.tab-price ul.body li.label.open > span.calendar div{
	color: white;
	font-size: 12px;
}
.tab-price ul.body li.label > span.features{
	width: 48%; 	
	display: none;
	align-items: center;	
}
.tab-price ul.body li.label > span.features > span{ 
	text-transform: lowercase;
	color: #FFF;
	text-align: center;
	font-style: italic;
	display: inline-block\9;
	width: 25%\9;
	flex-grow: 1;
}
.tab-price ul.body.calendar li.label.open > span.calendar{
	display: block;	
}
.tab-price ul.body.calendar li.room span.feature,
.tab-price ul.body.calendar li.label.open > span.description,
.tab-price ul.body.calendar li.label.open > span.features{
	display: none;
}

.tab-price ul.body li.label.open > span.description{ display: none; }
.tab-price ul.body li.label.open > span.features{ 	display: flex;	}

.tab-price ul.body li > span:nth-child(1){ width: 28%; padding: 0px; }

.tab-price ul.body li .prices strong{ 
	text-align: center; 
	font-size: 1.6em; 
	padding-top: 7px; 
	padding-bottom: 4px; 
	display: block;
	font-weight: 600;
}

/*
.tab-price ul.body li .price_high strong{ text-align: center; font-size: 1.6em; padding-top: 7px; padding-bottom: 4px; display: block; color: #DA7F22; }
*/

.tab-price ul.body li > span:nth-child(3){ /*width: 21%;*/ color: #DE5A4B; font-size: 0.9em; text-transform: uppercase; text-align: center; }
.tab-price ul.body li > span.options{
	width: 15%;
	border-right: 0px solid #B4B4B4;
	padding: 0;
}


.tab-price ul.body li > span.prices{ 
	padding: 60px 0 0 0%\9;
	display: flex;
	align-items: center;
}

.tab-price ul.body li span a {
	color: #000;
	height: 85px;
	display: block;
	margin: 0;
	padding: 75px 0 0 13%;
}

.tab-price ul.body li > div > span,
.tab-price ul.body li div.video > span {
	width: 100%;
	display: inline-block;
	text-align: center;
	border-right: 0px solid #B4B4B4;
	margin-right: -4px;
	cursor: pointer;
	height: 100%;
}
/*.tab-price li span strong {
	color: #000;
}*/
.tab-price li span div {
	color: #6e6e6e;
}
.tab-price li > span:nth-child(1) strong {
	font-weight: 600;
	font-style: italic;
}

.tab-price li span:nth-child(1) div {
	/*padding-top: 3px;*/
}

.tab-price li > span button {
	background-color: #54803C;
	text-transform: uppercase;
	color: #FFF;
	/* padding: 22px; */
	text-align: center;
	display: table-cell;
	cursor: pointer;
	vertical-align: middle;
}

.tab-price li > span button:hover,
.tab-accommodation li button:hover {
	background-color: #DD594E;
}

.tab-price li > span button.disabled, 
.tab-price li > span button.disabled:hover,
.tab-accommodation li button.disabled, 
.tab-accommodation li button.disabled:hover {
	background: none !important;
	color: #ACACAC;
	cursor: default;

	opacity: 0;
}

.tab-price .open-calendar li > span button.disabled, 
.tab-price .open-calendar  li > span button.disabled:hover,
.tab-accommodation .open-calendar li button.disabled, 
.tab-accommodation .open-calendar li button.disabled:hover {
	opacity: 1;
}

.tab-price li > span small {
	font-size: 0.8em;
	color: #6E6E76;
	text-align: center;
	display: block;
	font-style: italic;
}
.tab-price li > span.options div {
	height: 50%;
	position: relative;
}
.tab-price li > span.options div i {
	height: 100%;
}
.tab-price li > span.options div i.video {
	background-position: 0;
}
.tab-price li > span.options div i.view {
	background-position: -35px 0px;
	height: 20px;
}
.tab-price li > span.options div i {
	width: 30px;
	height: 25px;
	position: relative;
	display: block;
	margin: 35px auto 0;
	background-repeat: no-repeat;
	background-image: url('../image/price_sprite_cart.png');
}
.tab-price li span.options a {
	padding: 0px;
}
.tab-price ul.body li.room > span.calendar {
	padding: 0;
	width: 33%;
	display: none;
}
.tab-price ul.body li.room > span.options {	display: none; padding-top: 34px;  }
.tab-price ul.body li.room > span.feature {	width: 12%; position: relative; }
.tab-price ul.body li.room > span.feature div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	width: 80%;
	text-align: center;
}
.tab-price ul.body li.room > span.calendar div {	margin-top: 75px;}
.tab-price ul.body li.room > span.calendar .warn{	cursor: pointer;}
.tab-price ul.calendar li.room > span.calendar,
.tab-price ul.calendar li.room > span.options {	display: block;  }

/*            */

.tab-accommodation > ul {	
	position: relative;
	background: #8aa137;
	width: 100%;
	display: table;

	min-height: 50vh;
}

button {
	width: 100%;
	height: 100%;
}

.btnmorefilters,
.btnfilters,
.btnbooking,
.btnmobilefeatures,
.btnmoreavailability {
	max-width: 190px;
	font-size: 14px;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background-color: #54803C;
	border: 0px;
	float: left;
	/*margin-left: 2%;*/
	cursor: pointer;
}
.btnmorefilters:hover,
.btnfilters:hover,
.btnbooking:hover,
.btnmobilefeatures:hover,
.btnmoreavailability:hover  {
	background: #DD594E;
}

button.btnmorefilters {
	padding: 7px;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	width: 100%;
	max-width: 100%;	
	border: 2px solid #54803C;
}

button.btnmorefilters:hover {
	border: 2px solid #DD594E;
}

p.options {
color: #fff;
	text-transform: uppercase;
	float: right;
	margin: 2% 2% 0 0;
	padding: 25px 0 0;
}
ul.rooms > li {
	width: 33.332%;
	/*float: left;*/
	background-color: #f5f4f4;
	/*min-height: 590px;*/
	border: 1px solid #b4b4b4;
    margin: -1px;
    display: inline-block;
	overflow: hidden;
	transition: margin 0.65s ease-in-out, opacity 0.65s;
	margin-top: -1px;
	opacity: 1;
}
ul.rooms > li.hidden{
	margin-top: 50px;
	opacity: 0;
	visibility: hidden;
}

ul.rooms li.room-info {
	width: 100%;
	position: relative
}
ul.rooms > li:nth-child(4n+1) {
    clear: both;
}
ul.rooms li .thumbs{
	padding-bottom: 44px;
	position: relative;
	cursor: pointer;
}
ul.rooms li .thumbs > div{
	position: relative;
	width: 100%;
	bottom: 0;
	left: 0;
	color: #FFF;
	background-color: #54803C;
	/*margin: -1px;*/
}
ul.rooms li .thumbs > div.prices{
	z-index: 1;
}
ul.rooms li .thumbs div span{
	font-size: 14px;	
	padding: 15px 0;
	text-align: center;
	display: inline-block;
	background: #00979A;
	width: 50%;
	/* border: 1px solid #FFF; */
}
ul.rooms li .thumbs div.values-1 span{ width: 100%; }
ul.rooms li .thumbs div.values-2 span{ width: 50%; }
ul.rooms li .thumbs div.values-3 span{ width: 33.332%; }
ul.rooms li .thumbs div.values-4 span{ width: 25%; }

ul.rooms li .prices span em {
	font-style: italic;
	margin-left: 7px;
	font-size: 0.8em;
	white-space: nowrap;
}

ul.rooms li .thumbs div span:nth-child(2){
	background: #DA7F22;
	border-left: 0;
}
ul.rooms div.picture {
	position: relative;
	display: block;
}
ul.rooms div img {
	width: 100%;
	display: block;
	position: relative;
}
ul.rooms div.info a:hover h1,
ul.rooms div.info a:hover p {
	text-decoration: underline;
}
ul.rooms .info a h1 {
	font-size: 17px;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	margin: 32px 0 15px 0;
}
ul.rooms a h2 {
	font-size: 14px;
	color: #de8022;
	text-transform: uppercase;
}
ul.rooms li > .info{
	margin: 0 35px;
}
ul.rooms .info a p{
	margin: 17px 0 0 0;
	font-size: 14px;
	color: #585858;
	font-weight: normal;
}
ul.rooms .info a p {
	min-height: 153px;
	overflow: hidden;
	line-height: 18px;
}
ul.rooms .info span strong {
	font-size: 0.9em;
	font-weight: 700;
	color: #585858;
	text-transform: uppercase;
}
ul.rooms hr {
	margin: 25px 0;
}
ul.rooms p.warn {
	cursor: pointer;
	color: #959595;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9em;
	margin: 10px 0;
}
ul.rooms hr {
	background-color: #959595;
	border: 0px;
	height: 1px;
}
ul.rooms .info button {
	background-color: #54803c;
	width: 100%;
	border: 0px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	padding: 15px 0;
	cursor: pointer;
	margin-bottom: 30px;
}
ul.rooms button.disabled,
ul.rooms button.disabled:hover {
	background-color: #a1a1a1;
	color: #EFEFEF;
	cursor: default;
}
.pagination {
	width: 100%;
	display: table;
	border-top: 1px solid #B4B4B4;
}
.pagination ul {
	float: left;
	margin: 30px 0 30px 32px;
}
.pagination ul li {	
	border: 1px solid #959595;
	float: left;
	border-right: 0px;
	padding: 15px 0px;
}
.pagination ul li:last-child {	
	border-right: 1px solid #959595;
}
.pagination ul a {
	padding: 15px 20px;
	font-weight: bold;
	font-size: 14px;
	color: #959595;
	text-decoration: none;
}
.pagination ul a.active {
	background-color: #df584a;
	color: #fff;
}
.pagination button {
	float: right;
	padding: 15px 50px;
	margin: 32px;
}
table.calendar {
	width: 100%;
	height: 100%;
}
table.calendar th {
	font-size: 11px;
	color: #959595;
	text-transform: capitalize;
	padding: 10px 0;
	text-align: center;
	width: 14.285714%;
}
table.calendar td {
	/*color: #959595;*/
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	padding: 15px 0 10px;
	border: 1px solid #5b5d5d;
	text-align: center;
	border-left: 0;
	cursor: pointer;
	position: relative;

	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*
table.calendar td.low-price  { color: #00979A; }
table.calendar td.high-price { color: #DA7F22; }
table.calendar td.low-price.selected { background: #00979A;  border: 1px solid #03797C; }
table.calendar td.high-price.selected { background: #DA7F22; border: 1px solid #905316; }*/



table.calendar td.low-price { background: #00979A;  border: 1px solid #03797C; color: white; }
table.calendar td.high-price { background: #DA7F22; border: 1px solid #905316; color: white;}
table.calendar td.special-price { background: #DD594E; /*border: 1px solid #73211A;*/ color: white;}
table.calendar td.low-price.selected { background: #006466; color: white; }
table.calendar td.high-price.selected { background: #B1661B; color: white;}
table.calendar td.special-price.selected { background: #9A3128; color: white;}
/*
table.calendar td.off,
table.calendar td.otherMonth{
	color: #6E6E6E;
	color: white;
	background: #ACACAC;
}*/
table.calendar td.off{
	color: #6E6E6E;
	color: #FFF !important;
	background-color: #ACACAC !important;
	cursor: default;
}
table.calendar td.otherMonth{
	/*opacity: 0.5;*/
}
table.calendar td.otherMonth.selected{
	/*color: #EBC299;*/
}
table.calendar td.selected {
	color: #fff;
	background: #de8022;
	/*border: 1px solid #905316;*/
	opacity: 1;
}


table.calendar td.atRange:after{
	/*background: url('../image/rash.png');
	opacity: 0.2;
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	margin-left: 0px;
	display: block;
	top: 0;
	left: 0;
	box-sizing: content-box;
	z-index: 0;*/
}


.tab-accommodation table.calendar {
	margin: 15px 0;
}
body.prices .cart_i {
	color: #000;
	z-index: 3;
}

/******************************* tooltip price ***********************/

#tooltip{
	position: absolute;
	padding: 18px 8px;
	border: 1px solid #C5C5C5;
	border-radius: 7px;
	background: #FFF;
	color: #DD5F90;
	font-weight: bold;
	opacity: 1;
	z-index: 150;
	margin-top: -5px;
	transition: margin 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53), opacity 0.3s, visibility 0s linear;
}
#tooltip.hidden{
	opacity: 0;	
	visibility: hidden;
	margin-top: -15px;
	transition: margin 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53), opacity 0.3s, visibility 0s linear 0.3s;
}

#tooltip:after{
	content: " ";
	position: absolute;
	bottom: -7px;
	width: 0px;
	margin-left: -6px;
	height: 0px;
	border: 7px solid #FFF;
	border-bottom: 0;
	border-left-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(0, 0, 0, 0);
	left: 50%;
}

#tooltip:before {
	content: " ";
	position: absolute;
	bottom: -9px;
	width: 0px;
	margin-left: -7px;
	height: 0px;
	border: 8px solid #C5C5C5;
	border-bottom: 0;
	border-left-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(0, 0, 0, 0);
	left: 50%;
}

@media (max-width: 1024px){

	.bar .minimo{ margin-left: 0; }
	.bar .maximo{ margin-right: 0; }

	.bar .minimo:after{	left: 25%; }
	.bar .maximo:after{	left: 75%; }

	.form-single.col-10 {
		width: 16%;
	}
	.form-single.col-15 {
		width: 26%;
	}
	.form-single.col-20 {
		width: 36%;
	}
	.form-single.col-22 {
		width: 38%;
	}

	.form-single.col-25,
	.form-single.col-mobile-50 {
		width: 46%;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.form-single.col-30 {
		width: 56%;
	}

	.form-single.col-50 {
		width: 96%;		
	}

	.form-single.col-50 .form-prices input {
		padding: 3px 4%;
		width: 92%;
	}

	.form-single.col-78 {
		width: 96%;
	}

	.cart div > p,
	.cart div > span{
		background: none;
		color: #000;
	}

	.tabpanel .fixer .nav-tabs {
		top: 105px;
		padding: 0;
		height: 95px;
	}

	.nav-tabs a {
		padding: 27px 5%;
	}

	.nav-tabs li:last-of-type {
		border-right: 0px solid #ededed;
	}

	.tabpanel .nav-tabs {
		margin-top: 0px;
		padding-right: 0;
		height: 70px;
	}

	ul.rooms li {
	  width: 50%;
	}

	.tab-price ul.body li .prices strong {
		font-size: 1.25em;
	}

	.tab-price ul.body li.room > span.calendar .warn {
		font-size: 0.9em;
	}

	button.btnmorefilters {
		padding: 9px;
	}

	.form-prices input{
		padding: 3px 8%;
		width: 84%;
	}

	.nav-tabs {
		margin-top: 0px;
	}	

	.slider-filter {
		margin-top: 30px;
	}


	.must_see .play_button {
		opacity: 1;
	}

	.must_see .bg {
		opacity: 0.3;
	}
	
}

@media (max-width: 640px){


	.hide-mobile{
		display: none;
	}

	.show-mobile-only{
		display: block;
	}

	.form-label {
		margin: 11px 0 0 0;
		text-align: left;
	}

	.form-single.col-33 {
		width: 96%;
	}

	.col-33 {
		width: 100%;
	}


	.form-prices {
		/*padding: 0 0 4%;*/
	}

	.form-prices input, .form-prices select,
	.form-prices select.first-sel {
		margin: 0;
	}

	.form-single.col-22,
	.form-single.col-25,
	.form-single.col-mobile-100{
		width: 96%;
	}

	.form-single.col-34 {
		width: 96%;
		text-align: center;
	}

	.form-single.col-mobile-50 {
		width: 46%;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	ul.rooms li {
		width: 100%;
	}

	.btnmorefilters, .btnfilters, .btnbooking, .btnmobilefeatures {
		width: 100%;
		max-width: initial;
	}

	.tab-price .warn{
		/*display: none;*/
	}

	.tab-price li {
		padding: 0;
		clear: both;
		display: block;
		width: 100%;
	}

	.tab-price li > span {
		display: block;
		float: left;
	}

	.tab-price li > span:nth-child(1),
	.tab-price ul.body li > span:nth-child(1) {
		width: 40%;
		text-transform: uppercase;
		padding: 0px;
		padding: 0;
		font-size: 0.9em;
	}
	.tab-price li > span:nth-child(1) a {
		padding: 45px 0 0 15%;
	}
	.tab-price li > span:nth-child(2),
	.tab-price li > span:nth-child(3) {
		width: 25%;
		padding: 0;
	}
	.tab-price li > span:nth-child(2) small,
	.tab-price li > span:nth-child(3) small {
		/*display: none;*/
	}
	.tab-price li > span .video{ display: none; }

	.tab-price li > span:nth-child(4),
	.tab-price li > span:nth-child(5) {
		display: none;
		width: 100%;
		height: auto;
		border-right: 0;
	}

	.tab-price li > span:nth-child(4) div,
	.tab-price li > span button{
		padding: 10px 0;
	}

	.tab-price ul.calendar li.room > span.options.disabled{
		display: none;
	}

	.tab-price li > span.calendar div {
		margin-top: 0px;
	}

	.tab-price ul.body li > span {
		height: 100px;
	}

	.tab-price li.open span:nth-child(1) div {
		font-size: 0.85em;
	}


	.tab-price li span:nth-child(1) div {
		font-size: 1em;
	}

	.tab-price ul.body li.label > span {
		height: 100px;
	}

	.tab-price ul.body li > span:nth-child(2){
		width: 60%;
		/*padding-top: 25px;*/
	}

	.tab-price ul.body li span a {
		padding-top: 43px;
	}

	.tab-price ul.body li .price_low strong,
	.tab-price ul.body li .price_high strong {
		font-size: 1.2em;
	}

	.tab-price li.label .description,
	.tab-price li .feature,
	.tab-price li .features,
	.tab-price ul.body li.label > span.calendar{
		display: none !important;
	}

	.tab-price ul.body li.label.open i{
		top: 5px;
		font-size: 0.8em;
	}

	.tab-price ul.body li.room:hover > span,
	.tab-price ul.body li.room.hover > span,
	.tab-price li.room.open > span {
		background: #ffffff;
	}

	.tab-price ul.calendar li.room > span.calendar{
		height: 80px;
	}

	.tab-price ul.open-calendar li.room > span.calendar{
		height: 160px;
	}


	.tab-price ul.calendar li.room > span.calendar{
		width: 100%;
	}

	.tab-price ul.calendar li.room > span.options{
		width: 100%;
		padding-top: 0px;
	}

	.tab-price ul.body li.room > span.calendar div {
		margin-top: 25px;
	}

}

/* datepicker */

.ui-widget {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	width: 15em;
}

.ui-widget-content {
	border: 1px solid #DDD;
	background: #fff;
	color: #333;
	font-weight: normal;
}

table.ui-datepicker-calendar {
	background-color: #FFF;
	margin: 0;
}

.ui-datepicker-title {
  font-weight: 500;
}

div#ui-datepicker-div {
	border: 1px solid #6E6E76;	
	border-radius: 0;
	background-color: #FFF;
	padding: 0;
	z-index: 1000 !important;
	/*box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.4);*/
}

.ui-datepicker-header.ui-widget-header {
	border: 0;
	border-radius: 0;
	font-weight: normal;
	background: #FFF;
	color: #6E6E76;
	margin-top: 10px;
}

.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: normal;
	font-size: 0.8em;
	border: 0;
	color: #6E6E76;
}

.ui-datepicker td {
	border: 0;
	padding: 0;
	text-align: center;
	border-right: 1px solid #6E6E76;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: none;
	border: 0;
	color: #6E6E76;
	/* font-weight: normal; */
	text-align: center;
	line-height: 1.9em;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	width: 1.8em;
	height: 1.8em;
	border: 0;
	top: 1px;
	cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev{
	left: 1px;
}

.ui-datepicker .ui-datepicker-next {
  right: 1px;
}

 .ui-widget-content .ui-state-hover{
	color: #fff;
	background: #54803C;
}

.ui-widget tbody tr {
  border-top: 1px solid #6E6E76;
}

span.ui-datepicker-month {
  /*text-transform: lowercase;*/
}

.ui-datepicker-next, 
.ui-datepicker-prev,
.ui-datepicker-next.ui-datepicker-next-hover, 
.ui-datepicker-prev.ui-datepicker-prev-hover{
	background: white;
	border: 0;
}

.ui-datepicker-next.ui-datepicker-next-hover, 
.ui-datepicker-prev.ui-datepicker-prev-hover{
	opacity: 0.3;
}

.ui-widget-header .ui-icon,
.ui-widget-header .ui-icon {
  background-image: url("images/ui-icons_6E6E76_256x240.png");
}

.ui-datepicker .ui-datepicker-title {

}

/* SELECT */

.start-date a {
	background: #8aa137 !important;
	color: #FFF !important;
}

.ui-selectmenu-button {
	padding: 0.3em 0em;
	border: 0;
	border-radius: 0;
	outline: none;

	padding: 0;
	margin: 0;
	background-color: #FFF;
	background: #FFF url("../image/arrowdown.png") no-repeat 100% 50%;
	height: 100%;

}	

.ui-selectmenu-button.ui-state-focus{
	background: #FFF url("../image/arrowup.png") no-repeat 100% 50%;	
}

.ui-selectmenu-button span.ui-selectmenu-text {
	text-align: left;
	padding: 0.65em 2.1em 0.65em 2.1em;
	display: block;
	line-height: 1.4;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ui-menu .ui-menu-item {
	position: relative;
	margin: 0;
	padding: 5px 1em 5px 2.0em;
	cursor: pointer;
	min-height: 0;
	font-size: 0.8em;
	list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}

.ui-selectmenu-menu .ui-state-hover,
.ui-selectmenu-menu .ui-widget-content .ui-state-hover,
.ui-selectmenu-menu .ui-widget-header .ui-state-hover,
.ui-selectmenu-menu .ui-state-focus,
.ui-selectmenu-menu .ui-widget-content .ui-state-focus,
.ui-selectmenu-menu .ui-widget-header .ui-state-focus {
	border: 0;
	background: #DD594E;
	font-weight: normal;
	color: white;
	font-size: 0.8em;
	padding: 5px 1em 5px 2.0em;
}

.ui-selectmenu-menu .ui-menu {
	overflow: auto;
	overflow-x: hidden;
	padding-bottom: 1px;
	border-radius: 0;
	border: 0;
	margin: 0;
}

.ui-icon{
	display: none;
}

@media ( min-width: 1350px ){
	ul.rooms li {
	  width: 25%;
	  position: relative;
	}
}