.general_reviews .content_reviews {
	padding: 65px;
}
.general_reviews .reviews_inside {
	display: inline-block;
	max-width: 80%;
	margin-top: 65px;
}
.general_reviews .text_content {
	width: 75%;
	float: left;	
}
.general_reviews .text_content p {
	margin-bottom: 20px;
}
.general_reviews .text_content h1 {
	margin-bottom: 35px;
}
.general_reviews .middle {
	width: 65px;
	float: left;
}
.general_reviews .image_book {
	float: left;
	width: 15%;
	margin-top: 60px;
}
.general_reviews .image_book img{
	max-width: 100%;
}

@media ( max-width: 640px ){
	.general_reviews .image_book {
		width: 100%;
	}
	.general_reviews .text_content {
		width: 100%;
	}

	.general_reviews .content_reviews {
		padding: 25px;
		overflow: auto;
	}
	.general_reviews .TA_selfserveprop > div{
		width: inherit !important;
	}

	.general_reviews .reviews_inside {
		max-width: 100%;
	}
}
.TA_selfserveprop {
	width: 100%;
	overflow: hidden;
}