/***** Room *****/
.room .head_page .info {
	width: 70%;
	margin-bottom: 20px;
}
.room .head_page .features {
	width: 25%;
	margin-right: 5%;
}
.features h2 {
	font-weight: 900;
	font-size: 14px;
}
.features span {
	color: #707070;
	font-size: 12px;
}
.features p {
	color: #000;
	font-size: 14px;
	margin-bottom: 20px;
}
.info p {
	margin: 40px 0;
}
.info img {
	width: 100%;
}
.info p.legend {
	font-size: 12px;
	color: #363636;
	margin-bottom: 0;
}
.special {
	background: #ebebeb;
	padding: 0 67px 80px 67px;
	overflow: auto;
}
.special h1 {
	margin: 85px 0 40px 0;	
}
.special ul li {
	float: left;
	width: 48%;
}
.special ul li.separate {
	width: 4%;
}
.other_rooms {
	margin: 80px 60px 130px;
	overflow: auto;
}
.other_rooms h1 {
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	margin-bottom: 40px;
	color: #000;
}
.other_rooms li {
	width: 32%;
	float: left;
}
.other_rooms li.separate {
	width: 2%;
}
.other_rooms h2 {
	margin: 40px 0 0;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	color: #000;
}
.other_rooms p {
	color: #000;
	font-weight: 300;
}

@media (max-width: 640px){

		.room .head_page .info {
			width: 60%;
			margin-bottom: 20px;
		}

		.room .head_page .features {
			width: 35%;
			margin-right: 5%;
		}

		.special {
			padding: 0 25px 30px 25px;
		}

		.special h1 {
			margin: 45px 0 40px 0;
		}

		.other_rooms {
			margin: 40px 25px 130px;
		}

		.other_rooms p span{
			display: block;
		}

		.other_rooms h2 {
			height: 56px;
			line-height: 23px;
		}

	}