/***** Room *****/
.room .head_page .info {
	width: 70%;
	margin-bottom: 20px;
	float: right;
}
.room .head_page .features {
	width: 25%;
	margin-right: 5%;
	margin-bottom: 91px;
	float: right;
}
.room .info h1 {
	font-size: 24px;
	color: #000;
	font-weight: 600;	
}
.room .info p.subtitle {
	font-size: 18px;
	color: #383838;
	font-weight: 400;
	margin: 5px 0 0 0;
}
.room .info h2 {
	margin: 20px 0 30px 0;
}
.features h2 {
    font-weight: 900;
    font-size: 14px;
    margin: 0 0 30px 0;  
    color: #000;
    font-family: "Open Sans";
    line-height: normal;
}
.features span {
	color: #707070;
	font-size: 12px;
}
.features p {
	color: #000;
	font-size: 14px;
	margin-bottom: 20px;
    margin-top: 0;
}
.info p {
	margin: 40px 0;
}
.info p:last-child {
	margin-bottom: 0px;
}
.info img {
	width: 100%;
}
.info p.legend {
	font-size: 12px;
	color: #363636;
	margin-bottom: 0;
}
.special {
	background: #EBEBEB;
	overflow: hidden;
	max-width: 100%;
	padding: 0 82px 0 82px;
    border-bottom: 1px solid #B4B4B4;
}
.special h1 {
	margin: 85px 0 40px 0;	
}
.special ul {
	/*padding: 0 67px 80px 67px;
    overflow: hidden;*/
}
.special ul li {
	float: left;
	width: 48%;
	clear: none;
	margin-bottom: 82px;
}

.special ul li.one-column {
	float: none;
	width: 100%;
	clear: none;
}

.special ul li.separate {
	width: 4%;
}
.special img {
	max-width: 100%;
}
.special ul li h2 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: #363636;
}

.other_rooms {
	margin: 80px 60px 80px;
	overflow: hidden;
}
.other_rooms h1 {
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 40px;
	color: #000;
}
.other_rooms li {
	width: 32%;
	float: left;
}
.other_rooms li.separate {
	width: 2%;
}
.other_rooms h2 {
	margin: 25px 0 0;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	color: #000;
}
.other_rooms p {
	color: #000;
	font-weight: 300;
}

/* CSS room page of prices */
.room_content {
	position: relative;
}

.room .info h2 {
	font-size: 30px;
    font-weight: 300;
    line-height: 37px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}

.room_title {
	height: 100px;
	position: relative;
}
.room_content a.close {
	width: 19px;
	height: 19px;
	display: block;
	background-repeat: no-repeat;
	/*background-image: url('../image/close_room.png');*/
	right: 35px;
	position: absolute;
	top: 35px;
	z-index: 1;
}
.room_title h1 {
	font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Open Sans', sans serif;
    color: #000;
	margin: 40px 0 0 65px;
}
.room_title h2 {
	font-size: 18px;
    font-family: 'Open Sans', sans serif;
    color: #383838;
	margin: 5px 0 40px 65px;
}
.room_close {
	width: 19px;
	height: 19px;
	display: block;
	background-repeat: no-repeat;
	background-image: url('../image/room_close.png');
	/*right: 35px;*/
	position: absolute;
	/*top: 35px;*/
	z-index: 50;
	cursor: pointer;
}

@media (max-width: 640px){

		.room .head_page .info {
			width: 100%;
			margin-bottom: 20px;
		}

		.room .head_page .features {
			width: 100%;
			margin-right: 5%;
			float: left;
		}
		.room .head_page .features p {
			margin-top: 0px;
		}
		.special {
			padding: 0 30px 30px 30px;
		}

		.special h1 {
			margin: 45px 0 40px 0;
		}

		.other_rooms {
			margin: 40px 25px 130px;
		}

		.other_rooms p span{
			float: none;
		}

		.other_rooms h2 {
			height: 56px;
			line-height: 23px;
			margin-top: 15px;
			height: 15px;
		}
		.special ul {
		    padding: 0 30px 80px 30px;
		}
		.special ul li {
			float: none;
			width: 100%;
			margin-bottom: 15px;
		}
		.other_rooms li {
			width: 100%;
			float: none;
		}
		.other_rooms p {
			float: none;
			margin: 5px 0px 54px 0px;
		}

		.room_content a.close {
			right: 20px;
			top: 20px;
		}
}