/*
*	CSS Document
*	Playa Escondida
*/
html{
	min-height:100%;
	position:relative
}
body {
	font-family: 'Open Sans', sans-serif !important;
	background: #ededed;
	height: 100%;
}

@media (max-width: 640px){
	.desktop-only{
		display: none;
	}
}

iframe{
	width: 100%;
}

object {
	height: 0;
	display: block;
}

/* LOADER ======= */

.preload {
  width: 100px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.preload > div {
  content: " ";
  width: 20px;
  height: 20px;
  background: #2196F3;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: shift 2s linear infinite;
          animation: shift 2s linear infinite;
}
.preload > div:nth-of-type(1) {
  -webkit-animation-delay: -.4s;
          animation-delay: -.4s;
}
.preload > div:nth-of-type(2) {
  -webkit-animation-delay: -.8s;
          animation-delay: -.8s;
}
.preload > div:nth-of-type(3) {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
.preload > div:nth-of-type(4) {
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}

@-webkit-keyframes shift {
  0% {
    left: -60px;
    opacity: 0;
    background-color: yellow;
  }
  10% {
    left: 0;
    opacity: 1;
  }
  90% {
    left: 100px;
    opacity: 1;
  }
  100% {
    left: 160px;
    background-color: red;
    opacity: 0;
  }
}

@keyframes shift {
  0% {
    left: -60px;
    opacity: 0;
    background-color: yellow;
  }
  10% {
    left: 0;
    opacity: 1;
  }
  90% {
    left: 100px;
    opacity: 1;
  }
  100% {
    left: 160px;
    background-color: red;
    opacity: 0;
  }
}

@media ( max-width: 1024px ){
	.preload {
		margin: 105px 0 0 0;
		padding-left: 0;
	}
}


/* end Loader */
/*
.preload {
	background: url(../image/loader.gif) no-repeat 43% center #EDEDED;
	background: url(../image/preloader_9.gif) no-repeat center center #FFF;
	height: 100%;
	width: 100%;
	max-width: 1599px;
	float: left;
	display: table-cell;
	position: fixed;
	z-index: 250;
	top: 0;
	padding-left: 240px;
	box-sizing: border-box;
}
*/


input,
textarea,
button {
	outline: #DD594E;
	border: 1px solid #CFCFCF;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	font-weight: normal;
}

input.invalid,
textarea.invalid {
	border-color: #DD594E !important;
}

label.check-custom {
	display: inline-block;
	cursor: pointer;
	position: relative;
	height: 15px;
	padding-left: 25px;
	margin-right: 15px;
	margin-bottom: 15px;
	font-size: 13px;
	margin-top: 10px;
	color: white;
}
label.check-custom:before {
	content: " ";
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 3px solid #FFF;
	position: absolute;
	font-size: 22px;
	left: 0;
	margin-top: -1px;
	background-color: #FFF;
}

input.check-custom[type=checkbox]:checked + label:before {
	background-color: #DF584A;
}









.row:after	{ content: " "; clear: both; display: table; }
.col-15 	{ float: left; width: 15%; }
.col-20 	{ float: left; width: 20%; }
.col-22 	{ float: left; width: 22%; }
.col-25 	{ float: left; width: 25%; }
.col-30 	{ float: left; width: 30%; }
.col-33 	{ float: left; width: 33.332%; }
.col-34 	{ float: left; width: 34%; }
.col-50 	{ float: left; width: 50%; }
.col-66 	{ float: left; width: 66.665%; }
.left {
	float: left;
}

button,
a.button {
	background-color: #54803c;
	border: 0px;
	padding: 15px 10px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	
	width: 100%;
}
.content_block a.bt-large {
	padding: 13px 30px;
	font-size: 15px;
}
button:hover,
.content_block a.button:hover{
	background-color: #355E1E;
}

button.disabled,
button.disabled:hover {
	background-color: #A1A1A1 !important;
	color: #EFEFEF;
	cursor: default;
}

strong {
  font-weight: 600;
}

.hide{
	display: none !important;
}

.content {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0;
	background: #fff;
}
.navigation_fixed {
	width: 249px;
	float: left;
	height: 10px;
	/*transition: width 0.3s;*/
}
#navigation {
	width: 249px;
	float: left;
	position: fixed;
	padding-bottom: 50px;
	border-right: 1px solid #B4B4B4;
	border-left: 1px solid #b4b4b4;
	min-height: 100%;
	box-sizing: border-box;
	z-index: 500;
	background-color: white;
}
#menu{
	margin-left: 25px;
	margin-right: 25px;
}
#menu,
#menu a {
	color: #df5a4a;
	list-style: none;
	font-size: 0.95em;
}
#menu .fi {
	width: 19px;
	height: 19px;
	position: relative;
	display: block;
	float: left;
	margin: -3px 25px 0 0;
	background-repeat: no-repeat;
	background-image: url('../image/menu_sprite.png');
}
#menu .fi_prices { background-position: -3px -2px; }
#menu .fi_concept { background-position: -3px -28px; }
#menu .fi_hotel { background-position: -3px -53px; }
#menu .fi_experience { background-position: -3px -77px; }
#menu .fi_map { background-position: -3px -102px; }
#menu .fi_gallery { background-position: -3px -130px; }
#menu .fi_info { background-position: -3px -155px; }
#menu .fi_offers { background-position: -3px -178px; }
#menu .fi_contact { background-position: -3px -203px; }
#menu .fi_chat { background-position: -3px -229px; }
.social {
	display: table;
	margin: 20px auto;
}
.social .fi {
	width: 34px;
	height: 35px;
	position: relative;
	display: block;
	float: left;
	margin: 0 5px 0 0;
	background-repeat: no-repeat;
	background-image: url('../image/menu_sprite_social.png');
}
.social .fi_facebook { background-position: 0px 0px; }
.social .fi_twitter { background-position: -35px 0px; }
.social .fi_instagram { background-position: -70px 0px; }
.social .fi_youtube { background-position: -106px 0px; }
#menu li {
	list-style: none;
	margin: 15px 0 15px 0px;
	padding: 0 10px;
}
#menu li:hover {
	text-decoration: underline;
}
#menu ul {
	margin: 0;
}
.logo {
	background-image: url('../image/playa_escondida_logo.png');
	background-repeat: no-repeat;
	margin: 30px auto 35px;
	width: 157px;
	height: 204px;
	display: block;
}
.phone {
	color: #50823B;
	font-size: 16px;
	margin: 20px 0 0 35px;
}
.phone p {
	margin: 4px 0;
	font-size: 0.9em;
}
.inside {
	/*border-left: 1px solid #b4b4b4;
	margin-left: -1px;*/
	position: relative;
	overflow: hidden;
	/* border-left: 1px solid #b4b4b4; */
	border-right: 1px solid #b4b4b4;
}

.language
{
	margin: 15px 0 0 35px;
}

.language a {
	color: #50823B;
	font-size: 12px;
}

.language .active {
	border-bottom: 1px solid #A3D68D;
}

ul.submenu {
	/*height: 68px;*/
	display: table;
	width: 100%;
}
ul.submenu li {
	height: 44px;
	float: left;
	width: 33.333334%;
	background: #9bb53e;
	text-align: center;
	padding-top: 23px;
	border: 1px solid #fff;
	margin: -1px;

	transition: background 0.3s;
}
ul.submenu li:hover{
	background: #dd594e;
}
ul.submenu li a {
	font-size: 15px;
	padding: 20px 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}


@media( max-width: 640px ){
	.inside{
		border: 0;
	}
	ul.submenu li {
	  width: 100%;
	}
}

/*MUST SEE*/
.must_see,
.cover {
	width: 100%;
	height: 600px;
	position: relative;
	z-index: 0;
	overflow: hidden;
	background: #000;
	/*background-image: url('../image/must_see.png');
	background-size: cover;
	background-position-y: 100%;*/
}

.must_see:hover .bg{
	opacity: 0.3;
}

.must_see .bg-image {
	opacity: 1;
}

.must_see .description{
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 15%;
	font-size: 1.4em;
	font-weight: 100;
	color: #FFF;
}

.must_see .title{
	position: absolute;
	text-align: center;
	width: 100%;
	top: 15%;
	font-size: 6em;
	font-weight: 900;
	color: #FFF;
}

@media ( max-width: 640px ){
	.must_see .title{
		top: 5%;
		font-size: 1.5em;
	}
}

.must_see .play_button {
	position: absolute;
	z-index: 10;
	transition: opacity 1s;
	opacity: 0;
}

.must_see:hover .play_button {
	opacity: 1;
}

.must_see video{
	top: 0;
	position: absolute;
}

nav.slider-control {
	position: absolute;
	bottom: 50%;
	margin-bottom: -37px;
	left: 0;
	z-index: 9;
	width: 100%;
}

nav.slider-control button {
	display: block;
	position: relative;
	float: left;
	height: 64px;
	width: 54px;
	background: rgba(200, 200, 200, 0.25);
	padding: 0;
}

nav.slider-control button:before {
	content: " ";
	display: block;
	height: 33px;
	width: 33px;
	background: url( ../image/lightbox_setas.png );
	margin: 8px 10px;
	padding: 0;
}

nav.slider-control button.next{
	float: right;
}

nav.slider-control button.next:before {
	background-position: center; 
}

nav.slider-control button.disabled:before {
	opacity: 0.25;
}

nav.slider-control button:hover {
	background: rgba(200, 200, 200, 0.5);
}
nav.slider-control button.disabled:hover {
	background: rgba(200, 200, 200, 0.25);
	cursor: default;
}

/* ---------- RIGHT BAR ------- */


#rightbar {
	/*display: none;*/
	position: absolute;
	width: 230px;
	overflow: hidden;
	float: right;
	height: 100%;
	background: #FFF;
	padding: 40px 35px;
	top: 0;
	right: -300px;
	z-index: 99;

	transition: all 1s;
}

#rightbar .close {
  float: right;
  background-image: url('../image/icon_close.png');
  width: 12px;
  cursor: pointer;
  height: 12px;
  text-indent: -100px;
  overflow: hidden;
}

.rightbar #rightbar{
	display: block;
	right: 0px;
}

.rightbar .navigation_fixed{
	/*display: none;
	width: 0;*/
}

@media ( max-width: 1024px ){
	#rightbar {
		/*top: 105px;*/
	}
}

/* ------ SLIDESHOW ----- */

.slideshow {
	position: relative;
	width: 100%;
	height: 600px;
	/*background:#eee;*/
	background: black;
	overflow: hidden;
}

.player .controls .play {
  display: none !important;
}

.slideshow .bullets{
	text-align: center;
	z-index: 50;
	position: absolute;
	bottom: 25px;
	width: 100%;
}

.slideshow .bullets span:after{
	content: "\2022";
	color: #FFF;
	font-size: 40px;
	cursor: pointer;
}

.slideshow .bullets span:hover:after,
.slideshow .bullets span.active:after{
	color: #9BB53E;
}

.slideshow .slides li{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: all 1s;
}

.slideshow .slides li.active{
	visibility: visible;
	opacity: 1;	
}

.slideshow .slides li div{
	position: absolute;
	top: 5%;
	left: 5%;
}

.slideshow .slides li p {
  color: #FFF;
  font-size: 4em;
  font-weight: 100;
  font-style: italic;
  text-transform: lowercase;
  line-height: 1.2em;
}

.play_button {
	background: url('../image/play_button.png');
	height: 68px;
	width: 68px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -34px 0 0 -34px;
	cursor: pointer;
}
ul.concept li > a:first-child div.play_button {
	margin: -34px 0 0 -34px;
}

@media ( max-width: 1024px ){
	.slideshow {
		  margin-top: 105px;
	}
}

@media ( max-width: 1200px ){
	.slideshow .slides li p{
		font-size: 2.25em;
	}
}

/*  ---- */

.lightbox {
	opacity: 0;
	transition: all 0.2s;
	visibility: hidden;

	position: fixed;
	background: rgba(0, 0, 0, 0.9);
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.lightbox *{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lightbox.active {
	opacity: 1;
	visibility: visible;
}

.lightbox .controle_esq:after,
.lightbox .controle_dir:before{
	top: 50%;
	position: absolute;
	margin-top: -50px;
}

.lightbox .controle_esq.disabled,
.lightbox .controle_dir.disabled{
	opacity: 0.25;
	cursor: default;
}

.lightbox .controle_esq:after,
.lightbox .controle_dir:before{
	content: " ";
	background: url(../image/lightbox_setas.png) no-repeat;
	width: 33px;
	height: 33px;

	margin-left: -16px;
}

.lightbox .controle_esq:after{

}
.lightbox .controle_dir:before{
	background-position: center center;
}

.lightbox .close{
	background: url(../image/lightbox_setas.png) no-repeat center right;
	width: 33px;
	height: 33px;

	position: absolute;
	color: #FFF;
	font-size: 3em;
	cursor: pointer;
	right: 20px;
	top: 20px;

	z-index: 100;
}

.lightbox .controle_esq, 
.lightbox .controle_dir {
	float: left;
	width: 5%;
	color: #FFF;
	font-size: 3em;
	height: 100%;
	padding: 5%;
	text-align: center;
	cursor: pointer;
	transition: all 0.5s;
}

.lightbox ul.thumbs {
	height: 100px;
}

.lightbox ul.thumbs li {
	transition: all 0.5s;

	display: inline-block;
	margin: 25px 10px 0px 0;

	border: 0px solid rgba(255, 255, 255, 0);
	background-color: rgba(255, 255, 255, 0.1);
	width: 70px;
	height: 70px;
	cursor: pointer;
}

.lightbox.active ul.thumbs li {
	margin: 15px 10px 10px 0;
	background-size: cover;
	background-position: center center;
}

.lightbox ul.thumbs li:hover {
	/*border: 3px solid #df584a;*/
	-webkit-box-shadow: 0px 0px 0px 2px #df584a;
	-moz-box-shadow: 0px 0px 0px 2px #df584a;
	box-shadow: 0px 0px 0px 2px #df584a;
}

.lightbox .miolo {
	transition: all 0.5s;

	float: left;
	width: 70%;
	height: 70%;
	margin-top: 0;
}

.lightbox.active .miolo {
	margin-top: 2.5%;
}

.lightbox .canvas {
	/*background-color: rgba(0, 0, 0, 0.5);*/
	/*border: 1px solid rgba(255, 255, 255, 0.1);*/
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.lightbox .canvas > * {
	width: 100%;
	margin: 0 auto;
	display: block;
}

.lightbox .pagination {
  margin-top: 20px;
  color: #FFF;
  font-size: 1em;
}

@media( max-height: 599px ){
	.lightbox.active .miolo {
		margin-top: 0;
	}
}


/*------- */

.head_page {
	padding: 82px 70px;
	position: relative;
	overflow: auto;/**/
	display: block;
}

.head_page p {
	margin: 30px 0 40px 0;
}

.content_block h1 {
	font-size: 20px;
	text-transform: uppercase;
	color: #494949;
	font-weight: bold;
	line-height: 1.2;
}
.content_block h2 {
	font-size: 24px;
	line-height: 28px;
	color: #494949;
	margin: 30px 0 20px 0;
}
.content_block h3 {
	font-size: 14px;
	color: #494949;
	font-weight: bold;
	line-height: 1.2em;
}
.content_block p {
	font-size: 14px;
	color: #494949;
	line-height: 1.5em;
}
.content_block ul li.double {
	width: 50%;
	float: left;
	min-height: 550px;
}
.content_block ul li.single {
	width: 100%;
}
.content_block ul li.dark,
.content_block ul li.double:nth-child(even) {
  background: #F6F6F6;
}
.content_block ul li img {
	width: 100%;
}
.content_block .description {
	padding: 60px 70px;
}
.content_block .description p {
	margin: 30px 0 30px 0;
}
.content_block a {
	color: #54803c;
	font-size: 14px;
	line-height: 1.6em;
	text-decoration: underline;
}

.play_button.big{
	background: url('../image/play_button_big.png');
	height: 96px;
	width: 96px;
	margin: -48px 0 0 -48px;
}

.bg{  
	position: absolute;
	-webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
	transition: all 0.35s; 
	/*transform: scale(1.3);*/
}

li:hover .bg{
	transform: scale(1.05);
}

.tabs h2 {
	background: #9BB53E;
	padding: 15px 82px;
	position: relative;
	font-size: 0.9em;
	margin: 0 0 3px;
	font-weight: bolder;
	cursor: pointer;
	text-transform: uppercase;
}
.tabs h2 small{
	font-weight: normal;
	text-transform: initial;
}
.tabs li h2:before {
	color: white;
	margin-right: 10px;
}

.tabs li h2:hover,
.tabs li.open h2{
	background: #df584a;
}

.tabs li h2:after {
	content: "+";
	position: absolute;
	right: 20px;
	top: 22px;
	color: #494949;
	margin-right: 10px;
	border: 2px solid #494949;
	width: 15px;
	text-align: center;
	border-radius: 44px;
	margin-top: -2px;
	line-height: 0;
	padding: 7px 0px 7px;
}

.tabs li.open h2:after {
	content: "\2013";
	padding: 6px 0px 8px;
}

.tabs li:nth-child(1) h2:before {	content: "01"; }
.tabs li:nth-child(2) h2:before {	content: "02"; }
.tabs li:nth-child(3) h2:before {	content: "03"; }
.tabs li:nth-child(4) h2:before {	content: "04"; }
.tabs li:nth-child(5) h2:before {	content: "05"; }
.tabs li:nth-child(6) h2:before {	content: "06"; }
.tabs li:nth-child(7) h2:before {	content: "07"; }
.tabs li:nth-child(8) h2:before {	content: "08"; }
.tabs li:nth-child(9) h2:before {	content: "09"; }
.tabs li:nth-child(10) h2:before {	content: "10"; }
.tabs li:nth-child(11) h2:before {	content: "11"; }
.tabs li:nth-child(12) h2:before {	content: "12"; }
.tabs li:nth-child(13) h2:before {	content: "13"; }
.tabs li:nth-child(14) h2:before {	content: "14"; }
.tabs li:nth-child(15) h2:before {	content: "15"; }

.tabs .description {
	display: none;
}

.tabs li.open .description {
	display: block;
}

div.bg {
	width: 100%;
	height: 100%;  
	background-size: cover;
	background-position: center center;
	margin: 0!important;
	z-index: -1;
}

@media (max-width: 640px){
	.content_block ul li.double {
	  width: 100%;
	}
	.head_page {
		padding: 50px 30px;
	}
	.content_block .description {
		padding: 30px 30px;
	}
	.tabs h2 {
		padding: 10px 50px 10px 60px;
	}

	.tabs li h2:after {
		top: 17px;
		right: 0px;
	}

	.tabs li h2:before {
		position: absolute;
		left: 35px;
	}
}


/*FOOTER*/
.footer {
	background: #f6f6f6;
	border-top: 1px solid #B4B4B4;
	clear: both;
}
.footer .site_map {
	padding: 55px 90px;
}
.footer .site_map ul {
	float: left;
	width: 20%;
	margin-bottom: 55px;
}
.footer .site_map ul li {
	color: #df584a;
	font-size: 12px;
	margin: 10px 0;
	display: block;
}
.footer .site_map ul li h1 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 40px;
	color: #000;
}
.footer .site_map ul li a {
	color: #df584a;
	font-size: 12px;
	margin: 10px 0;
	/*display: block;*/
	text-decoration: underline;
}
.footer .partner {
	clear: both;
	height: 90px;
	background: #F6F6F6;;
	border-bottom: 1px solid #B4B4B4;
	border-top: 1px solid #B4B4B4;
}
.footer .partner img {
	margin: 18px auto;
	display: block;
}
.copyright {
	height: 85px;
	background: #9bb53e;
}
.copyright p {
	float: left;
	margin: 40px 0 0 40px;
	font-size: 14px;
	color: #fff;
	font-weight: 600;
}
.copyright a {
	float: right;
	margin: 30px 40px 0 0;
}

.mobile-menu{
	display: none;
}

@media ( max-width: 1024px ){

	.content.mobile-top-margin{
		margin-top: 105px;
	}

	#navigation i,
	#navigation .social,
	#navigation img {
		display: none !important;
	}

	.logo{
		background-image: url('../image/playa_escondida_logo_mini.png');
		margin: 10px;
		width: 145px;
		height: 80px;
		display: inline-block;
	}

	#navigation {
		top: 0;
		width: 100%;
		float: none;
		z-index: 100;
		background: white;
		overflow: hidden;
		height: 105px;
		transition: all 0.5s;
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.11);
		min-height: 105px;
		font-size: 1.3em;
	}

	.at-top #navigation{
		/*background: rgba(255, 255, 255, 0.75);*/
	}

	#navigation.open{		
		height: 100%;
	}

	.navigation_fixed,
	#navigation #menu img,
	#navigation ul.third {
		display: none;
	}

	#navigation #menu{
		margin: 0;	
		margin-top: 3em;	
	}

	#navigation li{
		text-align: center;
		font-size: 1.2em;
	}

	#menu li:hover {
		text-decoration: none;
		background: #9BB53E;
		padding: 10px 0;
		margin: -10px 0 -10px;
	}

	#menu li:hover a {
		color: white;
	}

	#menu ul {
		padding: 0px;
	}
	/*
	#menu ul:first-child li:first-child:hover{
		margin: 5px 0 -10px;
	}
	*/
	.mobile-menu{	
		display: block;	
		position: absolute;
		top: 10px;
		right: 10px;
		margin-top: 20px;
		margin-right: 10px;
		border: 0;	
		width: 30px;
		height: 25px;	
		background: none;
		padding: 0;
		outline: none;
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0);
	}

	.mobile-menu:hover{
		background-color: rgba(0, 0, 0, 0);
	}

	.mobile-menu .lines,
	.mobile-menu .lines:before,
	.mobile-menu .lines:after {
		position: absolute;
		display: block;
		content: " ";
		background: #df584a;
		height: 5px;
		width: 30px;
		transition:all 0.2s;
		transform-origin: 50% 50%;
	}

	.mobile-menu .lines:before{
		top: -9px;
	}

	.mobile-menu .lines:after{
		top: 9px;
	}

	#navigation.open .mobile-menu .lines{
		background: rgba(0,0,0,0);
	}

	#navigation.open .mobile-menu .lines:before{
		top:0;
		transform: rotate(45deg); /**/
	}

	#navigation.open .mobile-menu .lines:after{
		top:0;
		transform: rotate(-45deg); /**/
	}

	.language {
	  margin: 35px 0 0 0px;
	  text-align: center;
	}

	#navigation .phone {
		font-weight: normal;
		font-size: 14px;
		  margin: 30px 0 0;

		text-align: center;
	}

	.cart span i{
		background-image: url('../image/cart.png');
	}

}

@media (max-width: 640px){
	.copyright{
		background: #df5a4a;
	}

	.copyright p {
	    display: none;
	}

	.copyright a {
		  float: left;
		  margin: 30px 30px 0 30px;
	}

	.footer .site_map {
	  display: table;
	}

	.footer ul:nth-child(1),
	.footer ul:nth-child(2),
	.footer ul:nth-child(3){
		display: none;
	}

	.footer .partner
	{
		display: none;
	}

	.footer .site_map {
	  padding: 40px 40px 20px;
	}

	.footer .site_map ul {
		float: none;
		width: 100%;
		margin-bottom: 40px;
	}

	.footer .site_map ul li h1 {
		margin-bottom: 20px;
	}

	.footer .site_map ul li > a,
	.footer .site_map ul li > a:first-child {
		display: inline-block;
	    margin: 0px 0;
	}

	#navigation #menu{
		margin: 0;	
		margin-top: 2em;	
	}

	#navigation li{
		text-align: center;
	}

	#navigation {
		font-size: 1.0em;
	}

}

@media (max-height: 1025px)  and ( max-width: 770px ){
	#navigation #menu{
		margin-top: 11em;
	}
}

@media (max-height: 770px) and ( max-width: 1025px ){
	#navigation #menu{
		margin-top: 6em;
	}
}

@media (max-height: 630px) and ( max-width: 490px ) {
	#navigation #menu{
		margin-top: 5em;
	}

}

@media (max-height: 480px ) and ( max-width: 650px ){
	#navigation #menu{
		margin-top: -10px;
	}
}


.cart {
	height: 0px;
	text-align: right;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9;
	background-color: transparent;
	color: #fff;
	left: 0;
}

.cart_i.cart {}
.cart span i {
	width: 30px;
	height: 27px;
	position: relative;
	display: inline-block;
	/* float: right; */
	margin: 12px 0 3px 0;
	background-repeat: no-repeat;
	background-image: url('../image/cart_white.png');
}
.dark-cart .cart span i{
	background-image: url('../image/cart_white.png');	
}
.cart > div {
	display: block;
	/*height: 55px;*/
	cursor: pointer;
	position: relative;
	max-width: 1600px;
	margin: 0 auto;
	width: 100%;
	/*border-left: 1px solid #B4B4B4;   border-right: 1px solid #B4B4B4;*/
	box-sizing: border-box;
	padding-left: 249px;
}
.cart > div > p {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin: 23px 25px 5px 5px;
	color: #fff;
	float: right;
}
.dark-cart .cart > div > p {
	color: #494949;
}
.cart div > span {
	font-size: 11px;
	font-weight: bold;
	right: 0;
	overflow: hidden;
	position: absolute;
	width: 65px;
	height: 60px;
	z-index: 12;
	padding: 10px;
	text-align: center;
	color: #FFF;
	background-color: #DD594E;
}
.dark-cart .cart div > span {
	background: none;
	color: #3C2524;
}
.cart div > span span {
	position: absolute;
	left: 50%;
	margin-left: 14px;
	margin-top: 12px;
}
.cart .notification{
	z-index: 74;
	position: absolute;
	top: -130px;
	width: 340px;
	padding: 10px;
	background-color: #FFF;
	margin-left: -205px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.32);
	right: 89px;
	opacity: 1;
	transition: opacity 0.5s, margin 1s, top 0.6s;
}
.cart .notification.show{
	top: 0;
}

.cart .notification img{
	height: 60px;
	width: 60px;
}

.cart .notification ul li {
	height: 60px;
	display: block;
	overflow: hidden;
	min-width: 390px;
	position: relative;
	border-top: 1px solid #9d9d9d;
}
.cart .notification ul li:last-child {
	border-bottom: 1px solid #9d9d9d;
}
.cart .notification img {
	height: 60px;
	width: 60px;
	float: left;
}
.cart .notification h2 {
  margin: 8px 0 0 14px;
  float: left;
  font-size: 16px;
}
.cart .notification .value {
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.cart .notification .guests {
  color: #9D9D9D;
  position: absolute;
  font-size: 14px;
  bottom: 10px;
  left: 85px;
}
.cart .notification .desc {
	color: #9d9d9d;
  	position: absolute;
  	font-size: 14px;
  	bottom: 10px;
  	right: 80px;
}
.cart .notification i.close {
	position: absolute;
	right: 15px;
	top: 15px;
	opacity: 0.3;
	width: 12px;
	height: 12px;
	display: block;
	float: right;
	background-repeat: no-repeat;
	background-image: url('../image/icon_close.png');
	cursor: pointer;
	margin: 0px 0px 0 0;
}


.shopping_cart_overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	z-index: 74;
	display: block;
	visibility: visible;
	transition: all 1s;
}
.shopping_cart_overlay.close {
	opacity: 0;
	visibility: hidden;
	transition: all 1s;
}
.shopping_cart {
	padding: 30px 50px;
	background-color: #fff;
	position: fixed;
	top: 0;
	right: 0;
	min-height: 100%;
	z-index: 75;
	color: #464646;
	box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.11);
	transition: right 0.7s;

	box-sizing: border-box;
}
.form_finish .policy p {
	font-size: 12px;
}

.form_finish .just-registered {
	border: 1px solid #CFCFCF;
	border-top: 0;
	padding: 0 15px 15px;
	box-sizing: border-box;
}

.form_finish .just-registered p {
	padding: 25px 0 15px;
	line-height: 20px;
}

.form_finish .policy .check {
	margin: 20px 0 0 0;
}
.form_finish .policy .check p {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
}

.form_finish label.check-custom:before {
	float: left;
	top: 1px;
}

.shopping_cart > div{
	max-width: 390px;
}
.shopping_cart.close {
	right: -495px;
}
.shopping_cart .header {
	display: table;
	width: 100%;
	position: relative;
}
.shopping_cart .header h1 {
	font-size: 12px;
	color: #000;
	float: left;
	clear: both;
	border-bottom: 1px solid #B4B4B4;
	margin: 15px 0 0 0;
	padding-bottom: 6px;
	text-transform: capitalize;
	width: 100%;
}
.shopping_cart .shopping_list .header h1 {
	text-transform: uppercase;
	margin: 0;
	border-bottom: 0px;
	font-size: 14px;
}
.shopping_cart .header h1 span {
	color: #DD594E;
}
.shopping_cart .header div {
	position: relative;
}
.shopping_cart .header div span {
	color: #54803c;
	font-size: 14px;
	font-weight: normal;
	text-decoration: underline;
	display: block;
	padding: 11px 0 0px 40px;
}
.shopping_cart i.close {
	width: 12px;
	height: 12px;
	display: block;
	float: right;
	background-repeat: no-repeat;
	background-image: url('../image/icon_close.png');
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	margin: 0px 0px 0 0;
}
.shopping_cart .total {
	border-top: 1px solid #9d9d9d;
	border-bottom: 1px solid #9d9d9d;
	padding: 20px 0 37px 0;
}
.shopping_cart .total p {
	float: left;
}
.shopping_cart .total span {
	float: right;
}
.shopping_list ul {
	display: block;
  	margin: 35px 0 50px 0;
}
.shopping_list ul li {
	height: 60px;
	display: block;
	overflow: hidden;
	min-width: 390px;
	position: relative;
	border-top: 1px solid #9d9d9d;
}
.shopping_list ul li:last-child {
	border-bottom: 1px solid #9d9d9d;
}
.shopping_list ul li img {
	height: 60px;
	width: 60px;
	float: left;
}
.shopping_list ul li h2 {
  margin: 8px 0 0 14px;
  float: left;
  font-size: 16px;
}
.shopping_list ul li .value {
	position: absolute;
	right: 0;
	bottom: 8px;
}
.shopping_list ul li .guests {
  color: #9D9D9D;
  position: absolute;
  font-size: 14px;
  bottom: 8px;
  left: 75px;
}
.shopping_list ul li .desc {
	color: #9d9d9d;
  	position: absolute;
  	font-size: 14px;
  	bottom: 8px;
  	right: 90px;
}
.shopping_list ul li i.close {
	position: absolute;
	right: 0;
	top: 10px;
	margin: 0;
	opacity: 0.3;
}
.shopping_cart .options {
	margin-top: 30px;
	min-width: 390px;
}
.shopping_cart .options button,
.shopping_cart .button{
	width: 48.7%;
	float: left;
	font-size: 12px;
}
.shopping_cart .options button.next {
	margin-left: 2.5%;
	background-color: #DD594E;
}
.shopping_cart i.cart {
  width: 30px;
  height: 27px;
  position: relative;
  display: block;
  float: left;
  background-repeat: no-repeat;
  background-image: url('../image/cart.png');
  background-color: transparent;
}
.special_offers ul {
	display: block;
	max-width: 390px;
}
.special_offers input {
	position: absolute;
	top: 20px;
	right: 20px;
}
.special_offers li {
  height: 225px;
  margin: 15px 0;
  position: relative;
}
.special_offers li div{
	background-color: #9BB53E;
	margin: 0px 15px;
	padding: 20px;
	position: absolute;
	display: block !important;
	top: 0;
	opacity: 1;
	transition: all 1s;
}
/*.special_offers li div.hide{
	margin: 0px 30px 0 0;
	opacity: 0;
	transition: all 1s;
	display: block !important;
}*/
.special_offers li div.disable {
	background-color: #acacac;
}
.special_offers li h2  {
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
}
.special_offers li h3 {
	margin: 10px 0 16px 0;
	color: #fff;
}
.special_offers li h3.warn {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}
.special_offers li .disable h3.warn {
	color: #ef1c06;
}
.special_offers li p {
	font-size: 12px;
	margin-bottom: 20px;
}
.special_offers li button{
	margin: 5px 0 0;
	width: 100%;
}
.special_offers .arrow {
	width: 30px;
	height: 29px;
	display: block;
	background-repeat: no-repeat;
	background-image: url('../image/price_offers_arrow.png');
	cursor: pointer;
	position: absolute;
	top: 87px;
}
.special_offers .arrow_left {
	left: -41px;
}
.special_offers .arrow_right {
	right: -41px;
	background-position: -32px 0;
}
.form_finish {
	max-width: 390px;
}
.form_finish .description h2 {
	font-size: 16px;
	font-weight: 600;
	margin: 20px 0 0 0;
}
.form_finish .description p {
	font-size: 14px;
	margin-bottom: 20px;
}
.form_finish form label {
	width: 100%;
	display: block;
	font-size: 12px;
	margin: 19px 0 10px 0;	
}
.form_finish form label.check-custom {
	width: 6px;
	height: 6px;
	float: left;
	margin: -3px 15px 0;
	padding: 5px;
	border: 1px solid #CFCFCF;
}
.form_finish form input {
	height: 35px;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
}
.form_finish form input.margin {
	width: 90%;
}
.form_finish form input[type=checkbox] {
	width: 20px;
	margin: -11px 0 0 15px;
}
.form_finish form input[type=checkbox].invalid + label:before {
	border-color: #DD594E;
}
.form_finish .group {
	display: inline-block;
	clear: both;
	position: relative;
	width: 100%;
}
.form_finish form textarea {
	width: 100%;
	height: 75px;
	box-sizing: border-box;
	padding: 10px;
}
.policy {
	padding-top: 40px;
}
.policy p u {
	color: #df584a;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: underline;
	display: block;
	margin-bottom: 12px;
}
.shopping_cart .end_messenger .header h1 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: #464646;
	border: 0px;
	margin-bottom: 20px;
}
.shopping_cart .end_messenger p.thanks {
	margin-bottom: 50px;
}
.shopping_cart .end_messenger p,
.shopping_cart .end_messenger label {
	font-size: 14px;
	float: left;
}
.end_messenger .group-label label {
  width: 40%;
  text-align: right;
  padding-right: 30px;
}
.end_messenger .group-label p {
	width: 50%;
	font-weight: bold;
}
.end_messenger .group-label {
  clear: both;
  margin-bottom: 6px;
  display: table;
  width: 100%;
}
.end_messenger .spacing {
	height: 40px;
}
.end_messenger .end_total {
	margin-top: 60px;
	border-top: 1px solid #9d9d9d;
	border-bottom: 1px solid #9d9d9d;
	padding: 20px 0 37px 0;
}
.end_messenger p.end_total {
	margin: 40px 0;
	border: 0;
	padding: 0;
}
.end_messenger .end_total span {
	float: right;
}

@media (max-width: 490px){
	.shopping_cart {
		padding: 30px 20px;
		width: 100%;
	}
	/*.shopping_cart > div {
		max-width: 337px;
	}*/
	.shopping_list ul li {
		min-width: 100%;
	}
	.shopping_cart .options {
		min-width: 100%;
	}

	.cart .notification{
		right: -45px;		
		width: 280px;
	}

	.cart .notification img {
		height: 80px;
		width: 80px;
	}

	.cart .notification .guests {		
		bottom: 35px;
		left: 105px;
	}

	.cart .notification .desc {		
		left: 105px;
		right: auto;
	}

}
@media ( max-width: 1024px ){
	.cart_i.cart {
		z-index: 1000 !important;
		width: auto;
		left: inherit !important;
		right: 51px;
		top: 17px !important;
	}

	.cart span i {
		background-image: url('../image/cart.png');
	}

	.cart > div > p {
		color: #494949;
	}

	.cart > div {
		border: 0 !important;	
		background: none !important;
		padding: 0;
	}

	.shopping_cart {
		padding-top: 155px;
	}
}