	
		
			<div class="footer ">
					<div class="site_map desktop-only">
						<ul>
							<li><h1>Reservations</h1></li>
							<li><a href="/price.html">Book Now</a></li>
							<li><a href="/pricelist.html">Pricelist</a></li>
								<li><a href="/general_policies.html">Policies</a></li>
						</ul>
						<ul>
							<li><h1>Get Help</h1></li>
							<li><a href="/contact.html">Contact us</a></li>
							<li><a href="javascript:$zopim.livechat.window.show()">Chat</a></li>
							<li><a href="/general_faq.html">FAQ</a></li>
							<li><a href="/general_directions.html">Directions</a></li>
						</ul>
						<ul>
							<li><h1>Connect</h1></li>
							<li><a rel="me nofollow" href="http://www.facebook.com/playaescondida" target="_blank">Facebook</a></li>
							<li><a rel="me nofollow" href="http://twitter.com/playaescondida" target="_blank">Twitter</a></li>
							<li><a rel="me nofollow" href="https://plus.google.com/112412783256714687514" target="_blank">Google+</a></li>
							<li><a rel="me nofollow" href="http://www.youtube.com/channel/UCPvWhEMmOLYwLe6vGDkRcjQ" target="_blank">Youtube</a></li>
							<li><a rel="me nofollow" href="https://instagram.com/playaescondidasayulita/" target="_blank">Instagram</a></li>
							<li><a rel="me nofollow" href="http://www.tripadvisor.com/Hotel_Review-g445056-d612032-Reviews-Playa_Escondida-Sayulita_Pacific_Coast.html" target="_blank">TripAdvisor</a></li>
						</ul>
						<ul>
							<li><h1>Language</h1></li>
							<li>english / <a href="/">español</a> </li>
						</ul>
						<ul>
							<li><h1>Information</h1></li>
							
				
							
							<li>
								[415] 259 4748 <br />
								[888] 445 0103 toll free
							</li>
							<li>
								+1 52 [329] 291 3641
							</li>
							<li>
								Sayulita, Riviera Nayarit <br />
								Local Time: <?php echo date('h:iA');?>
							</li>
							<li>
								reservations@playa-escondida.com
							</li>
						</ul>
					</div>
					<div class="partner">
						<img src="./image/partners.png">
					</div>
					<div class="copyright">
						<p>&copy;<?php echo date('Y');?> Playa Escondida. All Rights Reserved.</p>
						<a rel="nofollow" href="http://www.reinostudio.com.br">
							<img src="./image/logo_reino.png">
						</a>
					</div>
			</div>
