	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/concept.css">
	<link rel="stylesheet" type="text/css" href="css/home.css">

	<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="js/jquery-menu.js"></script>
	<script type="text/javascript" src="js/jquery-propresize.js"></script>
	<script type="text/javascript" src="js/jquery-scrolladdclass.js"></script>
	<script type="text/javascript" src="js/jquery-softparalax.js"></script>
	<script type="text/javascript" src="js/masonry.pkgd.min.js"></script>

	<script src="https://f.vimeocdn.com/js/froogaloop2.min.js"></script>

	<script type="text/javascript" src="js/lightbox.js"></script>
	<script type="text/javascript" src="js/main.js"></script>	
	<script type="text/javascript" src="js/preloader.js"></script>	

	<script type="text/javascript">
		$(function(){


			var classManager = $('.content_masonry li, .must_see');
			classManager.scrollAddClass();
			$('#navigation').playaMenu();
			$('[data-propresize="true"]').not('li').propResize();

			$('li[data-propresize="true"]').propResize({
				refElem: $('li[data-propresize="true"].square').first()
			});
			/*$('body').softParalax({
				targets: $('[data-paralax="true"]')				
			});/*neededClass: 'now-viewing'*/
			var container = $('.content_masonry .concept')[0];
			var msnry = new Masonry( container, {
			  itemSelector: 'li',
			  transitionDuration: 0
			});/**/
			classManager.on('new-viewed',function(){
				msnry.layout();
				setTimeout(function(){msnry.layout();},500);
				setTimeout(function(){msnry.layout();},1000);
			});
			$(window).resize(function(){
				msnry.layout();
				setTimeout(function(){msnry.layout();},500);
				setTimeout(function(){msnry.layout();},1000);
			});
			$(window).on('new-viewed',function(){
				msnry.layout();
				setTimeout(function(){msnry.layout();},500);
				setTimeout(function(){msnry.layout();},1000);
			});
			$(window).resize();
			
			/*$('.slideshow .bullets span').click(function(){
				var href = $(this).data('href');

				var actual = $('.slideshow li.active');
				var future = $('.slideshow li').eq( href );
				var next = ($('.slideshow li').length > href + 1 )? href + 1 : 0 ;


				if( actual.length ){
					var actualPlayer = $f(actual.find('iframe')[0]);
					actualPlayer.api('pause');
					actualPlayer.addEvent('finish',function(){});

					actual.removeClass('active');
				}
				
				var futurePlayer = $f(future.find('iframe')[0]);

				futurePlayer.addEvent('ready', function() {
					console.log('ready');
					futurePlayer.api('play');
					futurePlayer.addEvent('finish',function() {
						console.log('finish');

						$('.slideshow .bullets span').eq(next).click();
					});
				});

				if( true ){
					futurePlayer.api('play');

					//$f(future.find('iframe')[0]).play();
					//future.find('iframe').attr('src', future.find('video source').data('src') );
					//future.find('iframe')[0].load();
				}else{
					futurePlayer.api('play');
				}
				
				future.addClass('active');
			}).eq(0).click();*/

			$('.slideshow .bullets span').click(function(){
				var href = $(this).data('href');
				console.log( href );
				// bullets
				$('.slideshow .bullets span.active').removeClass('active');
				$('.slideshow .bullets span').eq( href ).addClass('active');

				// videos
				var actual = $('.slideshow li.active');
				var future = $('.slideshow li').eq( href );
				var next = ($('.slideshow li').length > href + 1 )? href + 1 : 0 ;
				if( actual.length ){
					actual.find('video')[0].pause();
					actual.find('video')[0].onended = function() {};
					actual.removeClass('active');
				}
				
				future.find('video')[0].onended = function() {
					console.log('video ended', next);
					$('.slideshow .bullets span').eq(next).click();
				};
				if( future.find('video source').attr('src') == '' ){
					future.find('video source').attr('src', future.find('video source').data('src') );
					future.find('video')[0].load();
				}else{
					future.find('video')[0].play();
				}
				
				future.addClass('active');
			}).eq(0).click();
		});
	</script>