<div id="navigation">
			<a href="/" class="logo"></a>
			<nav id="menu">
				<ul class="first">
					<li>
						<i class="fi fi_prices"></i>
						<a href="/prices.html">Prices / Rooms</a>
					</li>
										<li>
						<i class="fi fi_prices"></i>
						<a href="/availabilities.html">Book Now</a>
					</li>
					<li>
						<i class="fi fi_concept"></i>
						<a href="/concept.html">the Concept</a>
					</li>
					<li>
						<i class="fi fi_hotel"></i>
						<a href="/the_hotel.html">the Hotel</a>
					</li>
					<li>
						<i class="fi fi_experience"></i>
						<a href="/experience.html">the Experience</a>
					</li>
					<li>
						<i class="fi fi_map"></i>
						<a href="/map.html">the Map</a>
					</li>
				</ul>
				<img src="/image/border_menu.png">
				<ul class="second">
					<!--<li>
						<i class="fi fi_gallery"></i>
						<a href="#">Gallery / Videos</a>
					</li>-->
					<li>
						<i class="fi fi_info"></i>
						<a href="/general_info.html">General Info</a>
					</li>
					<!-- <li>
						<i class="fi fi_offers"></i>
						<a href="/offers.html">Offers</a>
					</li> -->
					<li>
						<i class="fi fi_contact"></i>
						<a href="/contact.html">Contact us</a>
					</li>
				</ul>
				<ul class="third">
					<li>
						<i class="fi fi_chat"></i>
						<a href="javascript:$zopim.livechat.window.show()">Chat with us</a>
					</li>
				</ul>
				<img src="/image/border_menu.png">
			</nav>
			<!--<div class="language">
				<a class="active" href="#">english</a> /
				<a href="#">español (proximamente)</a>
			</div>-->
			<div class="phone">
				<p>+52 329 291 3641</p>
				<p>Sayulita direct</p>
			</div>
		<!--<div class="social">
				<a href="#" class=""><i class="fi fi_facebook"></i></a>
				<a href="#" class=""><i class="fi fi_twitter"></i></a>
				<a href="#" class=""><i class="fi fi_instagram"></i></a>
				<a href="#" class=""><i class="fi fi_youtube"></i></a>
			</div>-->

			<button class="mobile-menu lines-button arrow arrow-up" type="button" role="button" aria-label="Toggle Navigation">
				  <span class="lines"></span>
			</button>
		</div>

		<div class="navigation_fixed"></div>
